extends layout2


block scripts
  link(rel='stylesheet' href='deals_styles.css')
block content
  script(src="../jquery-3.5.1.js")
  .print_window
  .wrap.deals_wrap
    h5.header Фильтры
    form(action='/deals' method='POST')#showDeals.filters_wrap
      label.filter_label Регион:
      select(name='city').filter_select#city
        option(value='78') Санкт-Петербург и обл.
        option(value='77') Москва и обл.
        option(value='all') Все
      label.filter_label Время:
      select(name='time').filter_select#time
        option(value='86400000') За сутки
        option(value='604800000') За неделю
        option(value='2592000000') За 30 дней
        option(value='all') За все время
      label.filter_label Статус:
      select(name='confirmed').filter_select#confirmed
        option(value='0') Не подтвержденные
        option(value='1') Подтвержденные
        option(value='2') Завершенные
      button.btn.btn-primary.showdeals(type='submit')#showDeals Показать
      button.btn.btn-success.btn-excel#downloadDeals Выгрузить в exel
    .deals_info_wrap
      if ((deals_info==0))
          p.deals__no Ничего не найдено
      else
      -for(var i=0; i<deals_info.length; i++)
        div(id=deals_info[i].id).deal_item
          h6.header № #{deals_info[i].id}
          .in
            p Дата:
            p #{deals_info[i].date}
          .in
            p Id:
            p #{deals_info[i].owner_id}
          .in
            p ФИО:
            p #{deals_info[i].second_name_owner} #{deals_info[i].first_name_owner} #{deals_info[i].third_name_owner}
          .in
            p Адрес:
            p #{deals_info[i].delivery_address} 
          .in 
            p Контакты:
            p #{deals_info[i].owner_contact} 
          .in
            p Оплата
            if (deals_info[i].payment_method=='nal')
              p Наличные
            if (deals_info[i].payment_method=='beznal')
              p Безнал
            if (deals_info[i].payment_method=='bill')
              p Выставлен счет
          .in
            p Использовано бонусов:
            p #{deals_info[i].bonuses}
          .in
            p Итого:
            p #{deals_info[i].final_price}
          if (deals_info[i].confirmed==0)
            h6.header Не подтверждена
            .btn-row
              button.btn-success.btn(deal_id=deals_info[i].id)#confirmDeal Подтвердить
              button.btn-danger.btn(deal_id=deals_info[i].id)#deleteDeal Удалить
          else if(deals_info[i].confirmed==1)
            h6.header Подтверждена
            .btn-row
              button.btn.btn-primary(deal_id=deals_info[i].id)#endDeal Завершить
              button.btn-danger.btn(deal_id=deals_info[i].id)#deleteDeal Удалить
          else
            p Завершена
          .btn-row-print
            button.btn.btn-secondary.btn_attach(deal_id=deals_info[i].id id='deal_'+deals_info[i].id onclick="showattachment('"+deals_info[i].id+"')") Показать вложения
            button.btn.btn-secondary.btn_print
              i.fas.fa-print
          div(id=deals_info[i].id+"_attach").attach_info
      script.
        var val1 = localStorage.getItem('time');
        var val2 = localStorage.getItem('city');
        var val3 = localStorage.getItem('confirmed');
        $("#time option[value=" + val1 + "]").attr('selected', 'true');
        $("#city option[value=" + val2 + "]").attr('selected', 'true');
        $("#confirmed option[value=" + val3 + "]").attr('selected', 'true');
        
        function showattachment(deal_id){
          if($.trim($('#'+deal_id+'_attach').text()) != "" ){
            $('#'+deal_id+'_attach').html('');
          }else{
            console.log('123');
            $.post("/add",{post_type: "showattachment", deal_id: deal_id}, (data)=>{
              var out = "";
              var out_array = [];
              for (var i=0; i<data.length; i++){
                  out += "<p>"+data[i].product+", кол-во: "+data[i].count+", Цена: "+data[i].full_price+", Артикул: "+data[i].articul+"</p>";
                }
                console.log(out);
                $('#'+deal_id+'_attach').html(out);
            });
          }
        }
        $('#showDeals').on('click', function(){
            var time, confirmed, city;
            city = $('#city').val();
            time = $('#time').val();
            confirmed = $('#confirmed').val();
            localStorage.setItem('time', time);
            localStorage.setItem('confirmed', confirmed);
            localStorage.setItem('city', city);
          });
        $('#deleteDeal').on('click', function(){
            var item = $(this);
            var deal_id = item.attr('deal_id');
            $.post("/add",{post_type: "delete_deal", deal_id: deal_id}, (data)=>{
                console.log("123");
                var foo = $('#'+deal_id);
                foo.detach();
                alert('Сделка № '+deal_id+' успешно удалена');
            });
          });
        $('#confirmDeal').on('click', function(){
            var item = $(this);
            var deal_id = item.attr('deal_id');
            $.post("/add",{post_type: "confirm_deal", deal_id: deal_id}, (data)=>{
                
                if(data.ok){
                  var foo = $('#'+deal_id);
                  foo.detach();
                  alert('Сделка № '+deal_id+' успешно переведена в статус "ПОДТВЕРЖДЕНО"');
                }else{
                  alert('Ошибка, попробуйте позже или свяжитесь с администрацией');
                }
            });
          });
        $('#downloadDeals').on('click', function(){
            var item = $(this);
            var deal_id = item.attr('deal_id');
            var city = $('#city').val();
            var time = $('#time').val();
            var confirmed = $('#confirmed').val();
            console.log(city, time, confirmed);
            $.post("/add",{post_type: "download_deals", city: city, time: time, confirmed: confirmed}, (data)=>{
                if(!data.ok){alert("По текущим фильтрам сделок не найдено!");}else{
                  setTimeout(document.location.href = data.src, 1000);
                }
            });
          });
        $('#endDeal').on('click', function(){
            var item = $(this);
            var deal_id = item.attr('deal_id');
            $.post("/add",{post_type: "end_deal", deal_id: deal_id}, (data)=>{
              if(data.ok){
                var foo = $('#'+deal_id);
                foo.detach();
                alert('Сделка № '+deal_id+' успешно завершена');
              }else{
                alert('Ошибка, попробуйте позже или свяжитесь с администрацией');
              }
            });
          });
