extends layout2


block scripts
  link(rel='stylesheet' href='cart_styles.css')
block content
  script(src="../jquery-3.5.1.js")
  p Фильтры:
  form(action='/deals' method='POST')#showDeals
    label Регион:
    select(name='city')
      option(value='78') Санкт-Петербург и обл.
      option(value='77') Москва и обл.
      option(value='all') Все
    label Время:
    select(name='time')
      option(value='86400000') За сутки
      option(value='604800000') За неделю
      option(value='2592000000') За 30 дней
      option(value='all') За все время
    label Статус:
    select(name='confirmed')
      option(value='0') Не подтвержденные
      option(value='1') Подтвержденные
      option(value='2') Завершенные
    button(type='submit') Показать
  .container
    if ((deals_info==0))
        p Ничего не найдено
    else
    -for(var i=0; i<deals_info.length; i++)
      div(id=deals_info[i].id)
        p 
          b № #{deals_info[i].id}
        p
          b #{deals_info[i].date}
        p #{deals_info[i].owner_id}
        p #{deals_info[i].second_name_owner} #{deals_info[i].first_name_owner} #{deals_info[i].third_name_owner}
        p #{deals_info[i].delivery_address} 
        p #{deals_info[i].owner_contact} 
        if (deals_info[i].payment_method=='nal')
          p Наличные
        if (deals_info[i].payment_method=='beznal')
          p Безнал
        if (deals_info[i].payment_method=='bill')
          p Выставлен счет
        p Использовано бонусов: #{deals_info[i].bonuses} (Скидка: #{deals_info[i].bonuses/10} руб.)
        p Итого: #{deals_info[i].final_price}
        if (deals_info[i].confirmed==0)
          p Не подтверждена
          button(deal_id=deals_info[i].id)#confirmDeal Подтвердить
          button(deal_id=deals_info[i].id)#deleteDeal Удалить
        else if(deals_info[i].confirmed==1)
          p Подтверждена
          button(deal_id=deals_info[i].id)#endDeal Завершить
          button(deal_id=deals_info[i].id)#deleteDeal Удалить
        else
          p Завершена
        button(deal_id=deals_info[i].id id='deal_'+deals_info[i].id onclick="showattachment('"+deals_info[i].id+"')") Показать вложения
        div(id=deals_info[i].id)
      
    script.
      function showattachment(deal_id){
        if($.trim($('#'+deal_id).text()) != "" ){
          $('#'+deal_id).html('');
        }else{
          $.post("/add",{post_type: "showattachment", deal_id: deal_id}, (data)=>{
            var out = "";
            var out_array = [];
            for (var i=0; i<data.length; i++){
                out += "<p>"+data[i].product+", кол-во: "+data[i].count+", Цена: "+data[i].full_price+"</p>";
              }
              console.log(out);
              $('#'+deal_id).html(out);
          });
        }
      }
      $('#deleteDeal').on('click', function(){
          var item = $(this);
          var deal_id = item.attr('deal_id');
          $.post("/add",{post_type: "delete_deal", deal_id: deal_id}, (data)=>{
              console.log("123");
              var foo = $('#'+deal_id);
              foo.detach();
              alert('Сделка № '+deal_id+' успешно удалена');
          });
        });
      $('#confirmDeal').on('click', function(){
          var item = $(this);
          var deal_id = item.attr('deal_id');
          $.post("/add",{post_type: "confirm_deal", deal_id: deal_id}, (data)=>{
              
              if(data.ok){
                var foo = $('#'+deal_id);
                foo.detach();
                alert('Сделка № '+deal_id+' успешно переведена в статус "ПОДТВЕРЖДЕНО"');
              }else{
                alert('Ошибка, попробуйте позже или свяжитесь с администрацией');
              }
          });
        });
      $('#endDeal').on('click', function(){
          var item = $(this);
          var deal_id = item.attr('deal_id');
          $.post("/add",{post_type: "end_deal", deal_id: deal_id}, (data)=>{
            if(data.ok){
              var foo = $('#'+deal_id);
              foo.detach();
              alert('Сделка № '+deal_id+' успешно завершена');
            }else{
              alert('Ошибка, попробуйте позже или свяжитесь с администрацией');
            }
          });
        });
