extends layout2

block scripts
  link(rel='shortcut icon' href='../favicon.ico' type='image/x-icon')
  link(rel='stylesheet' href='../product_styles.css')
block content
  .sale_wrap
    #product_wrap
      #top_bar
        h1#title_product #{products[0].item_name}
        nav(aria-label='breadcrumb')#breadcrumb
          ol.breadcrumb
            li.breadcrumb-item
              a(href="/shop/") Магазин
            li.breadcrumb-item
              if products[0].type == 'tea'
                a(href="/shop/"+products[0].type) Чай
              else if products[0].type == 'coffee'
                a(href="/shop/"+products[0].type) Кофе
              else if products[0].type == 'other'
                a(href="/shop/"+products[0].type) Сопутствующие товары
            li.breadcrumb-item
              case products[0].sort
                when  'tess'
                  a(href="/shop/"+products[0].type+"?"+products[0].sort+"=on") Tess
                when  'greenfield'
                  a(href="/shop/"+products[0].type+"?"+products[0].sort+"=on") Greenfield
                when  'nuri'
                  a(href="/shop/"+products[0].type+"?"+products[0].sort+"=on") Принцесса Нури
                when  'java'
                  a(href="/shop/"+products[0].type+"?"+products[0].sort+"=on") Принцесса Ява
                when  'candy'
                  a(href="/shop/"+products[0].type+"?"+products[0].sort+"=on") Принцесса Канди
                when 'shah'
                  a(href="/shop/"+products[0].type+"?"+products[0].sort+"=on") Шах
                when 'jardin'
                  a(href="/shop/"+products[0].type+"?"+products[0].sort+"=on") Jardin
                when 'piazza'
                  a(href="/shop/"+products[0].type+"?"+products[0].sort+"=on") Piazza del Caffe
                when 'jokey'
                  a(href="/shop/"+products[0].type+"?"+products[0].sort+"=on") Жокей
                when 'nila'
                  a(href="/shop/"+products[0].type+"?"+products[0].sort+"=on") Жемчужина Нила
                when 'gita'
                  a(href="/shop/"+products[0].type+"?"+products[0].sort+"=on") Принцесса Гита
                when 'horeca'
                  a(href="/shop/"+products[0].type) HoReCa
                when 'sugar'
                  a(href="/shop/"+products[0].type) Сахар
                when 'cups'
                  a(href="/shop/"+products[0].type) Стаканчики
                when 'lit'
                  a(href="/shop/"+products[0].type) Крышки
            li.breadcrumb-item.active(aria-current='page')  #{products[0].item_name}
        hr
      #photo_area
        if(products[0].subtype)
          img(src="../store_prods/horeca/"+products[0].sort+"/"+products[0].articul+"/"+"1.jpg")
        else
          img(src="../store_prods/"+products[0].type+"/"+products[0].sort+"/"+products[0].articul+"/"+"1.jpg")
      #info_wrap
        case products[0].type
          when 'tea'
            .in.p
              p Тип 
              p Чай
            .in.p
              p Вид чая
              case products[0].about
                when 'black'
                  p Черный 
                when 'black_1'
                  p Черный с добавками
                when 'green'
                  p Зеленый
                when "green_1"
                  p Зеленый с добавками
                when 'assorti'
                  p Ассорти
                when 'herbal'
                  p Гербальный
            .in.p
              p Число пакетиков
              if products[0].tea_bags == '0'
                p Листовой
              else
                p #{products[0].tea_bags}
            .in.p
              p Вес
              p #{products[0].weight}г.
            .in.p
              p Тип упаковки
              case products[0].packaging
                when 'box'
                  p Коробка
                when 'package'
                  p Пакет
                when 'present'
                  p Подарочная упаковка шкатулка
                when 'capsule'
                  p Капсулы
                when 'soft_pack'
                  p Мягкая упаковка
          when 'coffee'
            .in.p
              p Тип
              p Кофе
            .in.p
              p Вид
              case products[0].category
                when 'milled'
                  p Натуральный молотый
                when 'milled_2'
                  p Натуральынй молотый с ароматом
                when 'cereal'
                  p Натуральный зерновой
                when 'cereal_2'
                  p Натуральный зерновой, светлая обжарка
                when 'cereal_3'
                  p Натуральный зерновой, средняя обжарка
                when 'cereal_4'
                  p Натуральный зерновой, темная обжарка
                when 'sublem'
                  p Растворимый сублимированный
                when 'granul'
                  p Растворимый гранулированный
            .in.p
              p Вес
              case products[0].weight
                when 1000
                  p 1 кг.
                default 
                  p #{products[0].weight} гр.
            .in.p
              p Тип упаковки
              case products[0].packaging
                when 'glass_jar'
                  p Стеклянная банка
                when 'can'
                  p Жестяная банка
                when 'soft_pack'
                  p Мягкая упакаовка
                when 'capsule'
                  p Капсулы
          when 'other'
            .in.p
              p Фасовка
              case products[0].sort
                when 'cups'||'lit'
                  p #{products[0].weight} мл.
                default
                  p #{products[0].weight} г.
      #price_product
        #price_wrap
          .amount 
            span.in.price__total
              #span_change #{products[0].item_price}
              span
                i.fas.fa-ruble-sign
            div.sht Кол-во в шт
              .range_items
                button(class='btn btn-secondary minus')
                  i.fas.fa-minus.controls
                input(type='text' value='1' class='input')
                button(class='btn btn-secondary plus')
                  i.fas.fa-plus.controls
            div.kor Кол-во в коробках
              .range_items
                button(class='btn btn-secondary box_count_minus' box_count=products[0].box_count)
                  i.fas.fa-minus.controls
                input(type='text' value='0' class='input' box_count=products[0].box_count).count_input_box
                button(class='btn btn-secondary box_count_plus' box_count=products[0].box_count)
                  i.fas.fa-plus.controls
          if (products[0].subtype)
            button(data-id=products[0].id type=products[0].subtype).btn.btn-primary#addtocart Добавить в корзину
          else
            button(data-id=products[0].id type=products[0].type).btn.btn-primary#addtocart Добавить в корзину
      div#hr
      if products[0].type != 'other'
        #logo
          span Перейти на сайт бренда
          case products[0].sort
            when  'tess'
              a(href="https://www.tesstea.co.uk/ru/" target='_blank')
                img(src="../logos/"+products[0].sort+".png")
            when  'greenfield'
              a(href="http://greenfieldtea.co.uk" target='_blank')
                img(src="../logos/"+products[0].sort+".png")
            when  'nuri'
              a(href="https://noori-tea.ru/" target='_blank')
                img(src="../logos/"+products[0].sort+".png")
            when  'java'
              a(href="http://www.java-tea.ru/" target='_blank')
                img(src="../logos/"+products[0].sort+".png")
            when  'candy'
              a(href="http://www.orimi.com/products/#princess_kandi/" target='_blank')
                img(src="../logos/"+products[0].sort+".png")
            when 'shah'
              a(href="http://shahtea.ru/" target='_blank')
                img(src="../logos/"+products[0].sort+".png")
            when 'jardin'
              a(href="https://jardincoffee.com/views/home" target='_blank')
                img(src="../logos/"+products[0].sort+".png")
            when 'jokey'
              a(href="http://coffeejockey.ru/" target='_blank')
                img(src="../logos/"+products[0].sort+".webp")
            when 'Piazza'
              a(href="https://jardincoffee.com/views/home" target='_blank')
                img(src="../logos/"+products[0].sort+".png")
      else
        if products[0].brand
          #logo
            span Перейти на сайт бренда
            case products[0].brand
              when  'tess'
                a(href="https://www.tesstea.co.uk/ru/" target='_blank')
                  img(src="../logos/"+products[0].brand+".png")
              when  'greenfield'
                a(href="http://greenfieldtea.co.uk" target='_blank')
                  img(src="../logos/"+products[0].brand+".png")
              when  'nuri'
                a(href="https://noori-tea.ru/" target='_blank')
                  img(src="../logos/"+products[0].brand+".png")
              when  'java'
                a(href="http://www.java-tea.ru/" target='_blank')
                  img(src="../logos/"+products[0].brand+".png")
              when  'candy'
                a(href="http://www.orimi.com/products/#princess_kandi/" target='_blank')
                  img(src="../logos/"+products[0].brand+".png")
              when 'shah'
                a(href="http://shahtea.ru/" target='_blank')
                  img(src="../logos/"+products[0].brand+".png")
              when 'jardin'
                a(href="https://jardincoffee.com/views/home" target='_blank')
                  img(src="../logos/"+products[0].brand+".png")
              when 'jokey'
                a(href="http://coffeejockey.ru/" target='_blank')
                  img(src="../logos/"+products[0].brand+".webp")
              when 'Piazza'
                a(href="https://jardincoffee.com/views/home" target='_blank')
                  img(src="../logos/"+products[0].brand+".png")
      #sen
        h5.header Описание
        p #{products[0].description}
    script(src='../product.js')
