extends layout2

block append scripts
  link(rel='stylesheet' href='news.css')

block content
  - var q_n = news_q
    input(placeholder="Название статьи")#newsTitle
    input(placeholder="Описание")#newsDescription
    input(placeholder="Текст статьи")#newsBody
    input(placeholder="Ссылка на изображение к статье", value="https://via.placeholder.com/600")#newsImg
    button(onclick="addNews();location.reload();")#add Добавить статью
    button(onclick="document.location.href='/add';")#delete Удалить все 
    script(src='/news.js')
    div(class='news_wrap')
      - for(var i=0; i<q_n; i++) 
          .card(class='mx-auto mb-4 text-center shadow-lg card-content')
            .card-header
              h3(class='card-title') #{pnews[i].header}            
            .card-body
              if pnews[i].img_url                  
                img(src=pnews[i].img_url class='card-img-top mb-3 img-thumbnail shadow' alt='...'  style='width: 500px; height: 400px;')
              h5(class='card-subtitle' id='subtitle-text' + i) #{pnews[i].intro}
              button(type='button' class='close' aria-label='close' style='display:none;')
                span( aria-hidden="true") &times;
              a(href='#' onclick='return false' class='link-news text-right' id='link-n' + i) Читать далее...
              p(class='card-text' id='main-text' + (i+3*j) style='display: none;') #{pnews[i].body}
            .card-footer
              p(class="text-muted" style='font-size: 0.7rem;') Дата написания: #{pnews[i].date} 
  script.  
    $.fx.off = false;
    $(document).ready(function(){
      $('.link-news').on('click', function(){
        var link_open = $(this);
        link_open.parents('.card').removeClass('h-100');
        setTimeout(function(){
          link_open.siblings('.card-text').show(600);
          link_open.siblings('.card-subtitle').hide(20);
          link_open.siblings('.close').show(600);
          link_open.hide(20);
        },300);
      });
      $('.close').on('click', function(){
        var link_close = $(this);
        link_close.siblings('.card-text').hide(600);
        link_close.siblings('.card-subtitle').show(20);
        link_close.siblings('.link-news').show(20);
        link_close.hide(20);
        setTimeout(function(){
          link_close.parents('.card').addClass('h-100');
        },600);
      });
    });
                    
                    
                                    
    
