extends layout2
block scripts
	link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet")
	script(src='../slider.js')
block content
	- var q = prod_count
	- var Type = type;
	script(src="../jquery-3.5.1.js")
	.modal.fade#modal_city(role='dialog' tabindex='-1' )
		.modal-dialog
			.modal-content
				.modal-header
					h5.modal-title Выберите город
					button.close(type='button' data-dismiss='modal')
						span(aria-hidden='true') &times;
				.modal-body
					span#city
					a(data-toggle="collapse" id="region_edited" changed="0" aria-expanded='false' href='#select_city_wrap' aria-controls='select_city_wrap') Изменить
					#select_city_wrap.collapse
						select#select_city
				.modal-footer
					button.btn.btn-secondary(data-dismiss='modal') Закрыть
					button.btn.btn-success(data-dismiss='modal')#accept_region Подтвердить
	.carousel-inner
		.carousel-wrap
			- for(var i = 0;i<sales_q;i++)
				.content
					h5 #{sales[i].header}
					a(href='/sales')
						img(src=sales[i].img_url)
	ul.controls_carousel
		li.control-left
			a(href='#')
				i.fas.fa-angle-left.c
		li.control-right
			a(href='#')
				i.fas.fa-angle-right.c
	.grid-container
		.carousel
			a#sales_link(href='/sales') Все акции...
			form(id='search' method="POST" action="/shop")
				input(type="text" name="search" placeholder="Поиск")
				input.btn.btn-primary(type="submit" value="Найти")
		.main-content(class='item_list')
			- for(var i=0; i<q; i++) 
				div(class='shop_item' id=products[i].id sort=products[i].sort about=products[i].about weight=products[i].weight packaging=products[i].packaging bags=products[i].tea_bags)
					div(class='carousel_img')
						if(products[i].subtype)
							img(src="../store_prods/horeca/"+products[i].type+"/"+products[i].sort+"/"+products[i].id+".jpg")
						else
							img(src="../store_prods/"+products[i].type+"/"+products[i].sort+"/"+products[i].id+".jpg")
					if(products[i].subtype)
						a(href='/shop/'+products[i].subtype+'?id='+products[i].id class='item_name') #{products[i].item_name}
					else
						a(href='/shop/'+products[i].type+'?id='+products[i].id class='item_name') #{products[i].item_name}
					p(class='item_price') #{products[i].item_price} 
						i.fas.fa-ruble-sign
					div.footer_item
						if(products[i].subtype)
							button.b(class='btn btn-primary addtocart' type=products[i].subtype data-id=products[i].id) Купить
						else
							button.b(class='btn btn-primary addtocart' type=products[i].type data-id=products[i].id) Купить
						div.sht Кол-во в шт
							.range_items
								button(class='btn btn-secondary minus')
									i.fas.fa-minus.controls
								input(type='text' value='1' class='input count_input_pack' data-id=products[i].id)
								button(class='btn btn-secondary plus')
									i.fas.fa-plus.controls
						div.kor Кол-во в коробках
							.range_items
								button(class='btn btn-secondary box_count_minus' box_count=products[i].box_count)
									i.fas.fa-minus.controls
								input(type='text' value='0' box_count=products[i].box_count class='input' id_data=products[i].id)
								button(class='btn btn-secondary box_count_plus' box_count=products[i].box_count)
									i.fas.fa-plus.controls
			if q == 0
				div.noitems По данному запросу нет товаров
		.sidebar
			case Type
				when 'tea'
					form(method="GET" action="/shop/tea")
						ul(class='filters')
							li 
								a(class='filters_tags') Категория
								.categories
									a.active_type.link(href='/shop/tea') Чай
										i.fas.fa-angle-right
									a.link(href='/shop/coffee') Кофе
										i.fas.fa-angle-right
									a.link(href='/shop/other') Сопутствующие товары
										i.fas.fa-angle-right
									a.link(href='/shop/horeca') HoReCa
										i.fas.fa-angle-right
							li 
								a(class='filters_tags') Цена
								.price
									p 0р. 
									input.tea(type='range' name='range_of_price' min='0' max='1000' id='range_price' value='1000' step='1')
									.price_opt
										p до
										input(type='text' value='1000' id='input_range_price' )
							li
								a(class='filters_tags') Бренд
								div.submenu_wrap
									.submenu
										input(type='checkbox' name='greenfield')
										label Greenfield
									.submenu
										input(type='checkbox' name='tess')
										label Tess
									.submenu
										input(type='checkbox' name='nuri')
										label Принцесса Нури
									.submenu
										input(type='checkbox' name='java')
										label Принцесса Ява
									.submenu
										input(type='checkbox' name='candy')
										label Принцесса Канди
									.submenu
										input(type='checkbox' name='shah')
										label Шах
									.submenu
										input(type='checkbox' name='gita')
										label Гита
									.submenu
										input(type='checkbox' name='nila')
										label Жемчужина Нила
							li
								a(class='filters_tags') Вид чая
								.tea_type_wrap
									.tea_type
										input(type='checkbox' name='black')
										label Черный
										.options
											input(type='checkbox' name='black_1' onclick="check_black()")
											label с добавками
									.tea_type
										input(type='checkbox' name='green')
										label Зеленый
										.options
											input(type='checkbox' name='green_1' onclick="check_green()")
											label с добавками
									.tea_type
										input(type='checkbox' name='herbal')
										label Гербальный
							li
								a(class='filters_tags') Вес
								.weight_wrap
									p 36г.
									input(type='range' min='36' max='400' id='range_weight' value='400' name='weight')
									.weight_opt
										p до
										input(type='text' value='400' id='input_range_weight')
							li
								a(class='filters_tags') Число пакетиков
								.submenu_wrap
									.submenu
										input(type='checkbox' name='teabag_20')
										label 20
									.submenu
										input(type='checkbox' name='teabag_25')
										label 25
									.submenu
										input(type='checkbox' name='teabag_30')
										label 30
									.submenu
										input(type='checkbox' name='teabag_50')
										label 50
									.submenu
										input(type='checkbox' name='teabag_100')
										label 100
									.submenu
										input(type='checkbox' name='teabag_120')
										label 120
							li
								a(class='filters_tags') Вид упаковки
								.submenu_wrap
									.submenu
										input(type='checkbox' name='box')
										label Коробка 
									.submenu
										input(type='checkbox' name='package')
										label Пакет
									.submenu
										input(type='checkbox' name='present')
										label Подарочная упаковка
									.submenu
										input(type='checkbox' name='capsule')
										label Капсулы
							input.btn.btn-primary(type="submit" value="Найти")
				when 'coffee'
					form(method="GET" action="/shop/coffee")
						ul(class='filters')
							li 
								a(class='filters_tags') Категория
								.categories
									a.link(href='/shop/tea') Чай
										i.fas.fa-angle-right
									a.active_type.link(href='/shop/coffee') Кофе
										i.fas.fa-angle-right
									a.link(href='/shop/other') Сопутствующие товары
										i.fas.fa-angle-right
									a.link(href='/shop/horeca') HoReCa
										i.fas.fa-angle-right
							li 
								a(class='filters_tags') Цена
								div.price
									p 0р. 
									input(type='range' min='0' max='1000' id='range_price' value='1000' step='1' name='range_of_price')
									.price_opt
										p до
										input(type='text' value='1000' id='input_range_price')
							li
								a.filters_tags Бренд
								.submenu_wrap
									.submenu
										input(type='checkbox' name='Jardin')
										label Jardin
									.submenu
										input(type='checkbox' name='Jockey')
										label Жокей
									.submenu
										input(type='checkbox' name='Piazza')
										label Piazza del Caffe
							li
								a(class='filters_tags') Натуральный
								.submenu_wrap
									.submenu
										input(type='checkbox' name='milled')
										label Молотый 
										.options
											input(type='checkbox' name='milled_2' onclick="check_milled()")
											label  c ароматом
									.submenu
										input(type='checkbox' name='cereal')
										label Зерновой
										.options
											input(type='checkbox' name='cereal_2' onclick="check_cereal()")
											label светлая обжарка
										.options
											input(type='checkbox' name='cereal_3' onclick="check_cereal()")
											label средняя обжарка
										.options
											input(type='checkbox' name='cereal_4' onclick="check_cereal()")
											label тёмная обжарка
							li
								a(class='filters_tags') Растворимый
								.submenu_wrap
									.submenu
										input(type='checkbox' name='sublem')
										label Сублимированный 
									.submenu
										input(type='checkbox' name='granul')
										label Гранулированный
							li
								a(class='filters_tags') Вес
								.weight_wrap
									p 36г.
									input(type='range' min='36' max='1000' id='range_weight' value='1000' name='weight')
									.weight_opt
										p до
										input(type='text' value='1000' id='input_range_weight')
							li
								a(class='filters_tags') Вид упаковки
								.submenu_wrap
									.submenu
										input(type='checkbox' name='glass_jar')
										label Стеклянная банка 
									.submenu
										input(type='checkbox' name='can')
										label Жестяная банка
									.submenu
										input(type='checkbox' name='soft_pack')
										label Мягкая упакаовка
									.submenu
										input(type='checkbox' name='capsule')
										label Капсулы
							input.btn.btn-primary(type="submit" value="Найти")
				when 'other'
					ul(class='filters' )
						li(style='min-width:270px;')
							a(class='filters_tags') Категория
							.categories
								a.link(href='/shop/tea') Чай
									i.fas.fa-angle-right
								a.link(href='/shop/coffee') Кофе
									i.fas.fa-angle-right
								a.active_type.link(href='/shop/other') Сопутствующие товары
									i.fas.fa-angle-right
								a.link(href='/shop/horeca') HoReCa
									i.fas.fa-angle-right
				when 'horeca'
					form(method="GET" action="/shop/horeca")
						ul(class='filters')
							li(style='min-width:270px;')
								a(class='filters_tags') Категория
								.categories
									a.link(href='/shop/tea') Чай
										i.fas.fa-angle-right
									a.link(href='/shop/coffee') Кофе
										i.fas.fa-angle-right
									a.link(href='/shop/other') Сопутствующие товары
										i.fas.fa-angle-right
									a.link.active_type(href='/shop/horeca') HoReCa
										i.fas.fa-angle-right
							li
								a.filters_tags Тип
								.submenu_wrap
									.submenu
										input(type='checkbox' name='tea' id="tea_checkbox")
										label Чай
									.submenu
										input(type='checkbox' name='coffee' id="coffee_checkbox")
										label Кофe
							input.btn.btn-primary(type="submit" value="Найти")
								
				default
					form(method="GET" action="/shop")
						ul(class='filters')
							li 
								a(class='filters_tags') Категория
								.categories
									a.link(href='/shop/tea') Чай
										i.fas.fa-angle-right
									a.link(href='/shop/coffee') Кофе
										i.fas.fa-angle-right
									a.link(href='/shop/other') Сопутствующие товары
										i.fas.fa-angle-right
									a.link(href='/shop/horeca') HoReCa
										i.fas.fa-angle-right
							li 
								a(class='filters_tags') Цена
								div.price
									p 0р. 
									input(type='range' min='0' max='1000' id='range_price' value='1000' step='1' name='range_of_price')
									.price_opt
										p до
										input(type='text' value='1000' id='input_range_price')
							input.btn.btn-primary(type="submit" value="Найти")
	.alert_t(aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px; z-index:-1;")
		div(class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000")
			div(class="toast-header")
				strong(class="mr-auto") Уведомление
				small(	class="text-muted") Just now
				button(type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close") &times;
			div(class="toast-body")  Товар успешно добавлен в корзину.
	script(src='../cities.js')
	script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js")
	script.
		slider(#{sales_q});
		var modal_city = $("#modal_city");
		var msg=$("#city");
		
		function showModalCity(mssg){
			msg.html(mssg);       
			modal_city.modal('show');
		}
			window.onload = function(){
				getRegion();
			$("#select_city").select2({
				data: array,
			})
			
			var range_price = document.getElementById('range_price');
			var input_range_price = document.getElementById('input_range_price');
			var range_weight = document.getElementById('range_weight');
			var input_range_weight = document.getElementById('input_range_weight');	
			
			range_price.addEventListener('mousemove', function(){
				input_range_price.value = range_price.value;
			});
			input_range_price.addEventListener('change', function(){
				range_price.value = input_range_price.value;
			});
			range_weight.addEventListener('mousemove', function(){
				input_range_weight.value = range_weight.value;
			});
			input_range_weight.addEventListener('change', function(){
				range_weight.value = input_range_weight.value;
			});
		}
		var params={};
		window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str,key,value) {params[key] = value;});
		for (key in params) {
			var input = document.getElementsByName(key)[0];
				if (key=="range_of_price"){input.value = params[key]; var input2 = document.getElementById('input_range_price'); input2.value = params[key];}
				if (key=="weight"){input.value = params[key]; var input3 = document.getElementById('input_range_weight'); input3.value = params[key];}
			input.checked = !0;
			console.log(input);
		}
		
		function check_cereal(){
			var cereal = document.getElementsByName('cereal')[0];
			var cereal_2 = document.getElementsByName('cereal_2')[0];
			var cereal_3 = document.getElementsByName('cereal_3')[0];
			var cereal_4 = document.getElementsByName('cereal_4')[0];
			if((cereal_2.checked == true)||(cereal_3.checked == true)||(cereal_4.checked == true)){
				cereal.checked = !0;
			}
			if((cereal_2.checked == false)&&(cereal_3.checked == false)&&(cereal_4.checked == false)){
				cereal.checked = 0;
			}
		}
		
		function check_milled(){
			var milled = document.getElementsByName('milled')[0];
			var milled_2 = document.getElementsByName('milled_2')[0];
				milled.checked = !0;
		}
		
		function check_black(){
			var black = document.getElementsByName('black')[0];
			var black_1 = document.getElementsByName('black_1')[0];
				black.checked = !0;
		}
		
		function check_green(){
			var green = document.getElementsByName('green')[0];
			var green_1 = document.getElementsByName('green_1')[0];
				green.checked = !0;
		}
		
		$('.minus').on('click', function(){
			var item = $(this);
			if (item.siblings('.input').val() > 1){
				item.siblings('.input').val(parseInt(item.siblings('.input').val())-1);
			} else {
				return 0;
			}
		})
		$('.plus').on('click', function(){
			var item = $(this);
			item.siblings('.input').val(parseInt(item.siblings('.input').val())+1);
		})
		
		$('.kor .range_items .input').on('change',function(){
			var item = $(this);
			var input_sht = item.parentsUntil('.footer_item').siblings('.sht').children('.range_items').children('.input');
		  input_sht.val(item.attr('box_count')*item.val());
		})
		
		if(!localStorage.getItem('cart')){
			var cart = {};
		} else cart = JSON.parse(localStorage.getItem('cart'));
	
		
		$('.box_count_plus').on('click', function(){
			var item = $(this);
			item.siblings('.input').val(parseInt(item.siblings('.input').val())+1);
			var input_sht = item.parentsUntil('.footer_item').siblings('.sht').children('.range_items').children('.input');
			input_sht.val(item.attr('box_count')*item.siblings('.input').val());
		});
		
		$('.box_count_minus').on('click', function(){
			var item = $(this);
			if (item.siblings('.input').val() > 0){
				item.siblings('.input').val(parseInt(item.siblings('.input').val())-1);
				var input_sht = item.parentsUntil('.footer_item').siblings('.sht').children('.range_items').children('.input');
				input_sht.val(item.attr('box_count')*item.siblings('.input').val());
			} else {
				return 0;
			}
		});
		
		var input_check = $('.input');
			for(let each of input_check){
				each.onkeypress=function(e){
					e = e || event;
					if (e.ctrlKey || e.altKey || e.metaKey) return;
					var chr = String.fromCharCode(e.which);
					if (chr == null) return;
					if (chr < '0' || chr > '9') {
						return false;
					}
				}
			}

		$('.addtocart').on('click', function(){
			var item = $(this);
			var data_id = item.attr('data-id');
			var data_type = item.attr('type');
			var input =  item.siblings('.sht').children('.range_items').children('.input');
			var articul = data_type+data_id;
				cart[articul] = input.val();
				localStorage.setItem('cart', JSON.stringify(cart));
				$('.toast').toast('show');
				console.log(cart);
		})
		var region_edited =0;
		var region_selected;
		function getRegion() {
			let region = localStorage.getItem('reg');
			if(region==undefined){
				$.get( "https://freegeoip.app/json/", function( data ) {
					//console.log(data);
					//alert(data.region_name+"\n"+data.ip);
					switch(data.region_name){
						case "Москва": region_selected = 77; break;
						case "Санкт-Петербург": region_selected = 78; break;
						case "Новосибирск": region_selected = 54; break;
						case "Екатеринбург": region_selected = 66; break;
						case "Нижний Новгород": region_selected = 52; break;
						case "Казань": region_selected = 116; break;
						case "Челябинск": region_selected = 74; break;
						case "Омск": region_selected = 55; break;
						case "Самара": region_selected = 63; break;
						case "Ростов-на-Дону": region_selected = 61; break;
						case "Уфа": region_selected = 02; break;
						case "Красноярск": region_selected = 24; break;
						case "Воронеж": region_selected = 736; break;
						case "Пермь": region_selected = 59; break;
						case "Волгоград": region_selected = 34; break;
						case "Краснодар": region_selected = 123; break;
						case "Саратов": region_selected = 64; break;
						default: region_selected = 77; break;
					}
					showModalCity(
						"Ваш город: "+data.region_name+"? "
					);
				});
			}else{
				//дописать вывод города
			}
		}
		$('#region_edited').on('click', function(){
			if(region_edited == 0){
				region_edited = 1
				console.log(region_edited);
			}else{
				region_edited = 0;
				console.log(region_edited);
			}
		});
		$('#accept_region').on('click', function(){
			if(region_edited==0){
				localStorage.setItem('reg', region_selected);
			}else if(region_edited == 1){
				switch($('#select2-select_city-container').attr('title')){
					case "Москва и Московская область": region_selected = 77; break;
					case "Санкт Петербург и Ленинградская область": region_selected = 78; break;
					case "Новосибирск": region_selected = 54; break;
					case "Екатеринбург": region_selected = 66; break;
					case "Нижний Новгород": region_selected = 52; break;
					case "Казань": region_selected = 116; break;
					case "Челябинск": region_selected = 74; break;
					case "Омск": region_selected = 55; break;
					case "Самара": region_selected = 63; break;
					case "Ростов-на-Дону": region_selected = 61; break;
					case "Уфа": region_selected = 02; break;
					case "Красноярск": region_selected = 24; break;
					case "Воронеж": region_selected = 736; break;
					case "Пермь": region_selected = 59; break;
					case "Волгоград": region_selected = 34; break;
					case "Краснодар": region_selected = 123; break;
					case "Саратов": region_selected = 64; break;
					default: region_selected = 77; break;
				}
				localStorage.setItem('reg', region_selected);
			}
		});
	
