extends layout2

block content
	- var q = prod_count
	- var Type = type;
	script(src="../jquery-3.5.1.js")
	
	.grid-container
		.carousel(class='slide' id='slider' data-rede='carousel')
			.carousel-inner
				img(src='../welcome_to_orimi.gif')
			a#sales_link(href='/sales') Все акции...
		.main-content(class='item_list')
			- for(var i=0; i<q; i++) 
				div(class='shop_item' id=products[i].id sort=products[i].sort about=products[i].about weight=products[i].weight packaging=products[i].packaging bags=products[i].tea_bags)
					div(class='carousel_img')
						img(src="../store_prods/"+products[i].type+"/"+products[i].sort+"/"+products[i].id+".jpg")
					a(href='#' class='item_name') #{products[i].item_name}
					p(class='item_price') #{products[i].item_price} р.
					div.footer_item
						button(class='btn btn-primary addtocart' type=products[i].type data-id=products[i].id) Купить
						div Кол-во
							.range_items
								button(class='btn btn-secondary minus')
									i.fas.fa-minus.controls
								input(type='text' value='1' class='input' data-id=products[i].id)
								button(class='btn btn-secondary plus')
									i.fas.fa-plus.controls
		.sidebar
			case Type
				when 'tea'
					form(method="GET" action="/shop/tea")
						ul(class='filters')
							li 
								a(class='filters_tags') Категория
									.categories
										a.active_type.link(href='/shop/tea') Чай
											i.fas.fa-angle-right
										a.link(href='/shop/coffee') Кофе
											i.fas.fa-angle-right
							li 
								a(class='filters_tags') Цена
								.price
									p 0р. 
									input.tea(type='range' name='range_of_price' min='0' max='1000' id='range_price' value='1000' step='1')
									.price_opt
										p до
										input(type='text' value='1000' id='input_range_price' )
							li
								a(class='filters_tags') Бренд
								div.submenu_wrap
									.submenu
										input(type='checkbox' name='greenfield')
										label Greenfield
									.submenu
										input(type='checkbox' name='tess')
										label Tess
									.submenu
										input(type='checkbox' name='nuri')
										label Принцесса Нури
									.submenu
										input(type='checkbox' name='java')
										label Принцесса Ява
									.submenu
										input(type='checkbox' name='candy')
										label Принцесса Канди
									.submenu
										input(type='checkbox' name='shah')
										label Шах
							li
								a(class='filters_tags') Вид чая
								.tea_type_wrap
									.tea_type
										input(type='checkbox' name='black')
										label Черный
										.options
											input(type='checkbox' name='black_1' onclick="check_black()")
											label с добавками
									.tea_type
										input(type='checkbox' name='green')
										label Зеленый
										.options
											input(type='checkbox' name='green_1' onclick="check_green()")
											label с добавками
									.tea_type
										input(type='checkbox' name='herbal')
										label Гербальный
							li
								a(class='filters_tags') В одной коллекции
								#one_collection
									input(type='checkbox' name='in_one_collection')
									label Да
							li
								a(class='filters_tags') Вес
								.weight_wrap
									p 36г.
									input(type='range' min='36' max='400' id='range_weight' value='400' name='weight')
									.weight_opt
										p до
										input(type='text' value='400' id='input_range_weight')
							li
								a(class='filters_tags') Число пакетиков
								.submenu_wrap
									.submenu
										input(type='checkbox' name='teabag_20')
										label 20
									.submenu
										input(type='checkbox' name='teabag_25')
										label 25
									.submenu
										input(type='checkbox' name='teabag_30')
										label 30
									.submenu
										input(type='checkbox' name='teabag_50')
										label 50
									.submenu
										input(type='checkbox' name='teabag_100')
										label 100
							li
								a(class='filters_tags') Вид упаковки
								.submenu_wrap
									.submenu
										input(type='checkbox' name='box')
										label Коробка 
									.submenu
										input(type='checkbox' name='package')
										label Пакет
									.submenu
										input(type='checkbox' name='present')
										label Подарочная упакаовка
							input.btn.btn-primary(type="submit" value="Найти")
				when 'coffee'
					form(method="GET" action="/shop/coffee")
						ul(class='filters')
							li 
								a(class='filters_tags') Категория
									.categories
										a.link(href='/shop/tea') Чай
											i.fas.fa-angle-right
										a.active_type.link(href='/shop/coffee') Кофе
											i.fas.fa-angle-right
							li 
								a(class='filters_tags') Цена
								div.price
									p 0р. 
									input(type='range' min='0' max='1000' id='range_price' value='1000' step='1' name='range_of_price')
									.price_opt
										p до
										input(type='text' value='1000' id='input_range_price')
							li
								a.filters_tags Бренд
								.submenu_wrap
									.submenu
										input(type='checkbox' name='Jardin')
										label Jardin
									.submenu
										input(type='checkbox' name='Jokey')
										label Жокей
									.submenu
										input(type='checkbox' name='Piazza')
										label Piazza del Caffe
							li
								a(class='filters_tags') Натуральный
								.submenu_wrap
									.submenu
										input(type='checkbox' name='milled')
										label Молотый 
										.options
											input(type='checkbox' name='milled_2' onclick="check_milled()")
											label  c ароматом
									.submenu
										input(type='checkbox' name='cereal')
										label Зерновой
										.options
											input(type='checkbox' name='cereal_2' onclick="check_cereal()")
											label светлая обжарка
										.options
											input(type='checkbox' name='cereal_3' onclick="check_cereal()")
											label средняя обжарка
										.options
											input(type='checkbox' name='cereal_4' onclick="check_cereal()")
											label тёмная обжарка
							li
								a(class='filters_tags') Растворимый
								.submenu_wrap
									.submenu
										input(type='checkbox' name='sublem')
										label Сублимированный 
									.submenu
										input(type='checkbox' name='granul')
										label Гранулированный
							li
								a(class='filters_tags') Вид упаковки
								.submenu_wrap
									.submenu
										input(type='checkbox' name='glass_jar')
										label Стеклянная банка 
									.submenu
										input(type='checkbox' name='can')
										label Жестянная банка
									.submenu
										input(type='checkbox' name='soft_pack')
										label Мягкая упакаовка
									.submenu
										input(type='checkbox' name='capsule')
										label Капсулы
							input.btn.btn-primary(type="submit" value="Найти")
										
				default
					ul(class='filters')
						li 
							a(class='filters_tags') Категория
							.categories
								a.link(href='/shop/tea') Чай
									i.fas.fa-angle-right
								a.link(href='/shop/coffee') Кофе
									i.fas.fa-angle-right
						li 
							a(class='filters_tags') Цена
							div.price
								p 0р. 
								input(type='range' min='0' max='1000' id='range_price' value='1000' step='1')
								.price_opt
									p до
									input(type='text' value='1000' id='input_range_price')
	.alert_t(aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;")
		div(class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000")
			div(class="toast-header")
				strong(class="mr-auto") Уведомление
				small(class="text-muted") Just now
				button(type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close") &times;
			div(class="toast-body")  Товар успешно добавлен в корзину.
	script.
		
		window.onload = function(){
			var range_price = document.getElementById('range_price');
			var input_range_price = document.getElementById('input_range_price');
			var range_weight = document.getElementById('range_weight');
			var input_range_weight = document.getElementById('input_range_weight');	
			
			range_price.addEventListener('mousemove', function(){
				input_range_price.value = range_price.value;
			});
			input_range_price.addEventListener('change', function(){
				range_price.value = input_range_price.value;
			});
			range_weight.addEventListener('mousemove', function(){
				input_range_weight.value = range_weight.value;
			});
			input_range_weight.addEventListener('change', function(){
				range_weight.value = input_range_weight.value;
			});
		}
		var params={};
		window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str,key,value) {params[key] = value;});
		for (key in params) {
			var input = document.getElementsByName(key)[0];
				if (key=="range_of_price"){input.value = params[key]; var input2 = document.getElementById('input_range_price'); input2.value = params[key];}
				if (key=="weight"){input.value = params[key]; var input3 = document.getElementById('input_range_weight'); input3.value = params[key];}
			input.checked = !0;
			console.log(input);
		}
		
		function check_cereal(){
			var cereal = document.getElementsByName('cereal')[0];
			var cereal_2 = document.getElementsByName('cereal_2')[0];
			var cereal_3 = document.getElementsByName('cereal_3')[0];
			var cereal_4 = document.getElementsByName('cereal_4')[0];
			if((cereal_2.checked == true)||(cereal_3.checked == true)||(cereal_4.checked == true)){
				cereal.checked = !0;
			}
			if((cereal_2.checked == false)&&(cereal_3.checked == false)&&(cereal_4.checked == false)){
				cereal.checked = 0;
			}
		}
		
		function check_milled(){
			var milled = document.getElementsByName('milled')[0];
			var milled_2 = document.getElementsByName('milled_2')[0];
				milled.checked = !0;
		}
		
		function check_black(){
			var black = document.getElementsByName('black')[0];
			var black_1 = document.getElementsByName('black_1')[0];
				black.checked = !0;
		}
		
		function check_green(){
			var green = document.getElementsByName('green')[0];
			var green_1 = document.getElementsByName('green_1')[0];
				green.checked = !0;
		}
		
		$('.minus').on('click', function(){
			var item = $(this);
			if (item.siblings('.input').val() > 1){
				item.siblings('.input').val(parseInt(item.siblings('.input').val())-1);
			} else {
				return 0;
			}
		})
		
		$('.plus').on('click', function(){
			var item = $(this);
			item.siblings('.input').val(parseInt(item.siblings('.input').val())+1);
		})
		

		
		if(!localStorage.getItem('cart')){
			var cart = {};
		} else cart = JSON.parse(localStorage.getItem('cart'));
	
		
		$('.addtocart').on('click', function(){
			var item = $(this);
			var data_id = item.attr('data-id');
			var data_type = item.attr('type');
			var input =  $('input[data-id|="'+data_id+'"]');
			var articul = data_type+data_id;
			
			cart[articul] = input.val();
			localStorage.setItem('cart', JSON.stringify(cart));
			$('.toast').toast('show');
			console.log(cart);
		})
	
