extends layout2

block content
	- var q = prod_count
	- var Type = type;
	script(src="../jquery-3.5.1.js")

	.grid-container
		.carousel(class='slide' id='slider' data-rede='carousel')
			.carousel-inner
				img(src='../welcome_to_orimi.gif')
		.main-content(class='item_list')
			- for(var i=0; i<q; i++) 
				div(class='shop_item' id=products[i].id sort=products[i].sort about=products[i].about weight=products[i].weight packaging=products[i].packaging bags=products[i].tea_bags)
					div(class='carousel_img')
						img(src="../store_prods/"+products[i].type+"/"+products[i].sort+"/"+products[i].id+".jpg")
					a(href='#' class='item_name') #{products[i].item_name}
					p(class='item_price') #{products[i].item_price} р.
					div.footer_item
						button.btn.btn-primary Купить
						div Кол-во
							.range_items
								button.btn.btn-secondary.minus
									i.fas.fa-minus.controls
								input(type='text' value='1' class='input')
								button.btn.btn-secondary.plus
									i.fas.fa-plus.controls
		.sidebar
			case Type
				when 'tea'
					form(method="GET" action="/shop/tea")
						ul(class='filters')
							li 
								a(class='filters_tags') Категория
									.categories
										a.active_type.link(href='/shop/tea') Чай
											i.fas.fa-angle-right
										a.link(href='/shop/coffee') Кофе
											i.fas.fa-angle-right
							li 
								a(class='filters_tags') Цена
								div.price
									p 0р. 
									input.tea(type='range' name='range_of_price' min='0' max='1000' id='range_price' value='1000' step='1')
									.price_opt
										p до
										input(type='text' value='1000' id='input_range_price')
							li
								a(class='filters_tags') Бренд
								div.submenu_wrap
									.submenu
										input(type='checkbox' name='greenfield')
										label Greenfield
									.submenu
										input(type='checkbox' name='tess')
										label Tess
									.submenu
										input(type='checkbox' name='nuri')
										label Принцесса Нури
									.submenu
										input(type='checkbox' name='java')
										label Принцесса Ява
									.submenu
										input(type='checkbox' name='candy')
										label Принцесса Канди
									.submenu
										input(type='checkbox' name='shah')
										label Шах
							li
								a(class='filters_tags') Вид чая
								.tea_type_wrap
									.tea_type
										input(type='checkbox' name='black')
										label Черный
										.options
											input(type='checkbox' name='black_2')
											label с добавками
									.tea_type
										input(type='checkbox' name='green')
										label Зеленый
										.options
											input(type='checkbox' name='green_2')
											label с добавками
									.tea_type
										input(type='checkbox' name='herbal')
										label Гербальный
							li
								a(class='filters_tags') В одной коллекции
								#one_collection
									input(type='checkbox' name='one_collection')
									label Да
							li
								a(class='filters_tags') Вес
								.weight_wrap
									p 36г.
									input(type='range' min='36' max='400' id='range_weight' value='400' name='weight')
									.weight_opt
										p до
										input(type='text' value='400' id='input_range_weight')
							li
								a(class='filters_tags') Число пакетиков
								.submenu_wrap
									.submenu
										input(type='checkbox' name='teabag_20')
										label 20
									.submenu
										input(type='checkbox' name='teabag_25')
										label 25
									.submenu
										input(type='checkbox' name='teabag_30')
										label 30
									.submenu
										input(type='checkbox' name='teabag_50')
										label 50
									.submenu
										input(type='checkbox' name='teabag_100')
										label 100
							li
								a(class='filters_tags') Вид упаковки
								.submenu_wrap
									.submenu
										input(type='checkbox' name='box')
										label Коробка 
									.submenu
										input(type='checkbox' name='package')
										label Пакет
									.submenu
										input(type='checkbox' name='present')
										label Подарочная упакаовка
							input(type="submit" value="Найти")
				when 'coffee'
					ul(class='filters')
						li 
							a(class='filters_tags') Категория
								.categories
									a.link(href='/shop/tea') Чай
										i.fas.fa-angle-right
									a.active_type.link(href='/shop/coffee') Кофе
										i.fas.fa-angle-right
						li 
							a(class='filters_tags') Цена
							div.price
								p 0р. 
								input(type='range' min='0' max='1000' id='range_price' value='1000' step='1')
								.price_opt
									p до
									input(type='text' value='1000' id='input_range_price')
						li
							a.filters_tags Бренд
							.submenu_wrap
								.submenu
									input(type='checkbox' name='Jardin')
									label Jardin
								.submenu
									input(type='checkbox' name='Jokey')
									label Жокей
								.submenu
									input(type='checkbox' name='Piazza')
									label Piazza del Caffe
						li
							a(class='filters_tags') Натуральный
							.submenu_wrap
								.submenu
									input(type='checkbox' name='milled')
									label Молотый 
									.options
										input(type='checkbox' name='milled_2')
										label  c ароматом
								.submenu
									input(type='checkbox' name='cereal')
									label Зерновой
									.options
										input(type='checkbox' name='cereal_2')
										label светлая обжарка
									.options
										input(type='checkbox' name='cereal_2')
										label средняя обжарка
									.options
										input(type='checkbox' name='cereal_2')
										label тёмная обжарка
						li
							a(class='filters_tags') Растворимый
							.submenu_wrap
								.submenu
									input(type='checkbox' name='sublem')
									label Сублимированный 
								.submenu
									input(type='checkbox' name='granul')
									label Гранулированный
						li
							a(class='filters_tags') Вид упаковки
							.submenu_wrap
								.submenu
									input(type='checkbox' name='glass_jar')
									label Стеклянная банка 
								.submenu
									input(type='checkbox' name='can')
									label Жестянная банка
								.submenu
									input(type='checkbox' name='soft_pack')
									label Мягкая упакаовка
								.submenu
									input(type='checkbox' name='capsule')
									label Капсулы
						input(type="submit" value="Найти")
										
				default
					ul(class='filters')
						li 
							a(class='filters_tags') Категория
							.categories
								a.link(href='/shop/tea') Чай
									i.fas.fa-angle-right
								a.link(href='/shop/coffee') Кофе
									i.fas.fa-angle-right
						li 
							a(class='filters_tags') Цена
							div.price
								p 0р. 
								input(type='range' min='0' max='1000' id='range_price' value='1000' step='1')
								.price_opt
									p до
									input(type='text' value='1000' id='input_range_price')
	script.
		window.onload = function(){
			var range_price = document.getElementById('range_price');
			var input_range_price = document.getElementById('input_range_price');
			var range_weight = document.getElementById('range_weight');
			var input_range_weight = document.getElementById('input_range_weight');	
			range_price.addEventListener('mousemove', function(){
				input_range_price.value = range_price.value;
			});
			input_range_price.addEventListener('change', function(){
				range_price.value = input_range_price.value;
			});
			range_weight.addEventListener('mousemove', function(){
				input_range_weight.value = range_weight.value;
			});
			input_range_weight.addEventListener('change', function(){
				range_weight.value = input_range_weight.value;
			});
		}
		
		$('.minus').on('click', function(){
			var item = $(this);
			if (item.siblings('.input').val() > 1){
				item.siblings('.input').val(parseInt(item.siblings('.input').val())-1);
			} else {
				return 0;
			}
		})
		
		$('.plus').on('click', function(){
			var item = $(this);
			item.siblings('.input').val(parseInt(item.siblings('.input').val())+1);
		})
