extends layout2
block scripts
  script(src='user_js.js')
block content
  #user_page(class='card card-content shadow-lg mx-auto')
    nav#nav_panel
      .nav.nav-tabs.nav-fill#nav-tab(role='tablist')
        a(class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true") Профиль
        a(class="nav-item nav-link " id="nav-orders-tab" data-toggle="tab" href="#nav-orders" role="tab" aria-controls="nav-orders" aria-selected="false") Заказы
        a(class="nav-item nav-link" id="nav-balance-tab" data-toggle="tab" href="#nav-balance" role="tab" aria-controls="nav-balance" aria-selected="false") Баланс
        if (permissions=='mod')
          a(class="nav-item nav-link" id="nav-mod-tab" data-toggle="tab" href="#nav-mod" role="tab" aria-controls="nav-mod" aria-selected="false") Модерация*
    .tab-content
      .tab-pane.fade.show.active#nav-profile.panel(role='tabpanel' area-labelledby='nav-profile-tab')
        #profile
          .in
            #name.in
              p Имя: 
              p #{user_name}
            #surname.in  
              p Фамилия:
              p #{user_second_name}
            #third_name.in
              p Отчество:
              p #{user_third_name}
            if (type=='phys_type')
              p#type Физ. лицо
            if (type=='ur_type')
              p#type Юридическое лицо
          #phone.in  
            p Телефон:
            p #{number}
            if phone_confirmed==0
              a(data-toggle='collapse' href='#phone_confirm' aria-expanded="false" aria-controls="phone_confirm").p-danger Необходимо подтверждение!
          if phone_confirmed==0
            #phone_confirm.collapse
              button#sms_button.btn.btn-primary Отправить СМС
              input#phone_input(type='text' placeholder='_ _ _ _')
              button(disabled)#phone_button.btn.btn-success Подтвердить
          #org_info
            if (org_info==1)
              .in
                p Статус:
                p.text-info #{info.status}
            if (org_info==2)
              .in
                p Статус: 
                p.text-success #{info.status}
              .in
                p Название:
                p #{info.org_name}
              .in
                p Адрес: 
                p #{info.org_address}
              .in
                p ИНН: 
                p #{info.owner_inn}
              .in
                p Ваша должность:
                p #{info.position}
            if (org_info==0 && type=='ur_type')
              a(data-toggle='collapse' href='#org_confirm' aria-expanded="false" aria-controls="org_confirm").p-danger Вы не закончили регистрацию!
              #org_confirm.collapse
                form(method='POST' enctype='multipart/form-data')#org_form
                  input(type='text' name='org_name' required placeholder='Название организации' id='org_name' )
                  input(type='text' name='org_address' required placeholder='Адрес организации' id='org_address')
                  input(type='text' name='inn' required placeholder='ИНН' pattern='[0-9]{10,}' id='inn')
                  select(name='position' placeholder='Должность' required)
                    option(value="" selected disabled) Должность
                    option(value="Владелец") Владелец
                    option(value="Директор") Директор
                    option(value="Менеджер") Менеджер
                  input(type='file' name='docs' id='docs' multiple data-multiple-caption='{count} файлов выбрано' required)
                  label.btn.btn-outline-info(type='button' id='redact' for='docs')
                    span Загрузить фото документов
                  input.btn.btn-outline-success(type='submit' value='Создать заявку')
      .tab-pane.fade#nav-orders.panel(role='tabpanel' area-labelledby='nav-orders-tab')
        .spinner-border(role='status')
          span.sr-only Loading...
        #deals.d-none
          if (deals == 0)
            p.title У вас нет совершенных сделок!
          else 
            p.title Ваши сделки (#{deals.length} шт.)
            -for (var i=0; i<deals.length; i++)
              a(href='#').title № #{deals[i].id}
              .deal_wrap
                -for (var x=0; x<deals[i].length; x++)
                  .in.deal
                    img(src="/store_prods/"+deals[i][x].split(':')[4]+"/"+deals[i][x].split(':')[3]+"/"+deals[i][x].split(':')[2]+".jpg")
                    a(href='#') #{deals[i][x].split(':')[0]} #{deals[i][x].split(':')[1]}  шт.
                p Итоговая стоимость:
      .tab-pane.fade#nav-balance.panel(role='tabpanel' area-labelledby='nav-balance-tab')
        #balance_wrap
          p Ваш баланс составляет: 
          p #{balance}
            i.fas.fa-ruble-sign.rub
      if (permissions=='mod')
        .tab-pane.fade#nav-mod.panel(role='tabpanel' area-labelledby='nav-mod-tab')
          p В списке #{uncorgs.length} фирм(а).
          -for (var u=0; u<uncorgs.length; u++)
            p #{uncorgs[u].org_name}
            p #{uncorgs[u].org_address}
            p #{uncorgs[u].owner_inn}
            p #{uncorgs[u].owner_id}
            p #{uncorgs[u].owner_position} #{uncorgs[u].owner_sname} #{uncorgs[u].owner_name} #{uncorgs[u].owner_tname}
            p Сканы документов:
            - for(var z=0; z<uncorgs[u].docs.length; z++)
                img(src="./uploads/"+uncorgs[u].owner_id+"/"+uncorgs[u].docs[z])
            button(onclick="delete_org('"+uncorgs[u].owner_id+"')") Отказать
            button(onclick="confirm_org('"+uncorgs[u].owner_id+"')") Подтвердить
  script(src=src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript")
  if (permissions=='mod')
    script.
      $('#org_form').on('submit', function(e) {
          e.preventDefault();
          var formData = new FormData(this);
          $.ajax({
              type: "POST",
              url: "/user",
              data: formData,
              processData: false,
              contentType: false,
              success: function(r){
                if(r.ok == false){
                  $('#redact').find('span').html(r.error);
                  console.log(r.error);
                }else{
                  location.href=location.href;
                }
              }
            })
        })
      function delete_org(owner_id){
        var del = confirm("Вы действительно хотите УДАЛИТЬ организацию?\n"+owner_id);
        if(del){
          $.post("/user",{post_type: "delete_org", org_owner_id: owner_id});
          alert("Организация успешно удалена.\n"+owner_id);
          window.location.reload();
        }
      }
      function confirm_org(owner_id){
        var conf = confirm("Вы действительно хотите ПОДТВЕРДИТЬ организацию?\n"+owner_id);
        if(conf){
          $.post("/user",{post_type: "confirm_org", org_owner_id: owner_id});
          alert("Организация успешно подтверждена.\n"+owner_id);
          window.location.reload();
        }
      }

    
    
        
