extends layout2
block scripts
  script(src='user_js.js')
  link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet")
  script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js")
  script(src="https://unpkg.com/@popperjs/core@2")
block content
  #user_page(class='card card-content shadow-lg mx-auto')
    nav#nav_panel
      .nav.nav-tabs.nav-fill#nav-tab(role='tablist')
        a(class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true") Профиль
        a(class="nav-item nav-link " id="nav-orders-tab" data-toggle="tab" href="#nav-orders" role="tab" aria-controls="nav-orders" aria-selected="false") Заказы
        a(class="nav-item nav-link" id="nav-balance-tab" data-toggle="tab" href="#nav-balance" role="tab" aria-controls="nav-balance" aria-selected="false") Баланс
        if (permissions=='mod')
          a(class="nav-item nav-link" id="nav-mod-tab" data-toggle="tab" href="#nav-mod" role="tab" aria-controls="nav-mod" aria-selected="false") Модерация*
    .tab-content
      .tab-pane.fade.show.active#nav-profile.panel(role='tabpanel' area-labelledby='nav-profile-tab')
        #profile
          .in
            #name.in
              p Имя: 
              p #{user_name}
            #surname.in  
              p Фамилия:
              p #{user_second_name}
            #third_name.in
              p Отчество:
              p #{user_third_name}
            if (type=='phys_type')
              p#type Физ. лицо
            if (type=='ur_type')
              p#type Юридическое лицо
          #phone.in  
            p Телефон:
            p #{number}
            if phone_confirmed==0
              a(data-toggle='collapse' href='#phone_confirm' aria-expanded="false" aria-controls="phone_confirm").p-danger Необходимо подтверждение!
          if phone_confirmed==0
            #phone_confirm.collapse
              button#sms_button.btn.btn-primary Отправить СМС
              input#phone_input(type='text' placeholder='_ _ _ _')
              button(disabled)#phone_button.btn.btn-success Подтвердить
          #org_info
            if (org_info==1)
              .in
                p Статус:
                p.text-info #{info.status}
            if (org_info==2)
              .in
                p Статус: 
                p.text-success #{info.status}
              .in
                p Название:
                p #{info.org_name}
              .in
                p Адрес: 
                p #{info.org_address}
              .in
                p ИНН: 
                p #{info.owner_inn}
              .in
                p Ваша должность:
                p #{info.position}
            if (org_info==0 && type=='ur_type')
              a(data-toggle='collapse' href='#org_confirm' aria-expanded="false" aria-controls="org_confirm").p-danger Вы не закончили регистрацию!
              #org_confirm.collapse
                form(method='POST' enctype='multipart/form-data')#org_form
                  input(type='text' name='org_name' required placeholder='Название организации' id='org_name' )
                  input(type='text' name='org_address' required placeholder='Адрес организации' id='org_address')
                  input(type='text' name='inn' required placeholder='ИНН' pattern='[0-9]{10,}' id='inn')
                  select(name='position' placeholder='Должность' required)
                    option(value="" selected disabled) Должность
                    option(value="Владелец") Владелец
                    option(value="Директор") Директор
                    option(value="Менеджер") Менеджер
                  select(name='type' placeholder='Тип организации' required class='type_of_org')
                    option(value="" selected disabled) Тип организации
                    option(value="Продуктовый магазин") Продуктовый магазин
                    option(value="Кафе") Кафе
                    option(value="Офис") Офис
                    option(value="Другое") Другое
                  input(type='file' name='docs' id='docs' multiple data-multiple-caption='{count} файлов выбрано' required)
                  label.btn.btn-outline-info(type='button' id='redact' for='docs' data-toggle='tooltip' data-placement="top" title="ИНН, св-во о регистрации, договор аренды помещения или владения")
                    span Загрузить фото документов
                  input.btn.btn-outline-success(type='submit' value='Создать заявку')
      .tab-pane.fade#nav-orders.panel(role='tabpanel' area-labelledby='nav-orders-tab')
        .spinner-border(role='status')
          span.sr-only Loading...
        #deals.d-none
          if (deals == 0)
            p.title У вас нет совершенных сделок!
          else 
            p.title Ваши сделки (#{deals.length} шт.)
            -for (var i=0; i<deals.length; i++)
              a(href='#').title № #{deals[i].id}
              .deal_wrap
                -var final_sum = Number(0)
                -for (var x=0; x<deals[i].length; x++)
                  - final_sum = Number(final_sum) + Number(deals[i][x].split(':')[6])
                  .in.deal
                    img(src="/store_prods/"+deals[i][x].split(':')[4]+"/"+deals[i][x].split(':')[3]+"/"+deals[i][x].split(':')[2]+".jpg")
                    a(href='#') #{deals[i][x].split(':')[0]} #{deals[i][x].split(':')[1] } шт. -  (#{deals[i][x].split(':')[6]}р.)
                p Итоговая стоимость: #{final_sum}
      .tab-pane.fade#nav-balance.panel(role='tabpanel' area-labelledby='nav-balance-tab')
        #balance_wrap
          .in
            p Ваш баланс составляет: 
            p #{balance}
              i.fas.fa-ruble-sign.rub
          if (type=='ur_type' && org_info==2)
            div#link_code_wrap Код для продавцов
              .in
                input(type="text" id="link_code" value=""+info.link_code+"" )
                button.btn.btn-primary(onclick="copylinkcode()") Копировать
          if (type=='phys_type' && !link_code)
            a#code_link(data-toggle='collapse' href='#code' aria-expanded='false' aria-controls='code').btn.btn-info Участие в акции для продавцов
            #code.collapse.in
              p Введите код организации:
              input#code_input(type='text' required)
              button.btn.btn-success#code_btn Подтвердить
          else if (link_code)
            .in
              p.text-success Вы участвуету в акции для продавцов!
              a.text-info(href='/sales') Подробнее об акции
            .in
              p Ваш код:
              p #{link_code}
            .in
              p Организация: 
              p #{attached_org.org_name}
            .in
              button#leave_org Покинуть организацию
      if (permissions=='mod')
        .tab-pane.fade#nav-mod.panel(role='tabpanel' area-labelledby='nav-mod-tab')
          p В списке #{uncorgs.length} фирм(а).
          -for (var u=0; u<uncorgs.length; u++)
            p #{uncorgs[u].org_name}
            p #{uncorgs[u].org_address}
            p #{uncorgs[u].owner_inn}
            p #{uncorgs[u].owner_id}
            p #{uncorgs[u].owner_position} #{uncorgs[u].owner_sname} #{uncorgs[u].owner_name} #{uncorgs[u].owner_tname}
            p Сканы документов:
            - for(var z=0; z<uncorgs[u].docs.length; z++)
                img(src="./uploads/"+uncorgs[u].owner_id+"/"+uncorgs[u].docs[z])
            button(onclick="delete_org('"+uncorgs[u].owner_id+"')") Отказать
            button(onclick="confirm_org('"+uncorgs[u].owner_id+"')") Подтвердить
  script(src=src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript")
  script.
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    $('#code_btn').on('click', function(e) {
      e.preventDefault();
      var codeinput = $('#code_input').val();
      $.ajax({
          type: "POST",
          url: "/user",
          data: {
            post_type: "add_code",
            post_data: codeinput
          },
          success: function(r){
            if(r.ok == false){
              showModal(r.error);
            }else{
              showModal(r.confirmed_code_status)
              location.href=location.href;
            }
          }
        })
    });
    $('#leave_org').on('click', function(e) {
      $.ajax({
          type: "POST",
          url: "/user",
          data: {
            post_type: "leave_org"
          },
          success: function(r){
            if(r.ok == true){
              showModal(r.res_ok);
              location.href=location.href;
            }
          }
        })
    });
    $('#org_form').on('submit', function(e) {
        var formData = new FormData(this);
        $.ajax({
            type: "POST",
            url: "/user",
            data: formData,
            processData: false,
            contentType: false,
            success: function(r){
              if(r.ok == false){
                showModal(r.error);
              }else{
                location.href='/user';
              }
            }
          })
      });
      function copylinkcode(){
        var copyText = document.getElementById("link_code");
        copyText.select();
        document.execCommand("copy");
      }
  if (permissions=='mod')
    script.
      function delete_org(owner_id){
        var del = confirm("Вы действительно хотите УДАЛИТЬ организацию?\n"+owner_id);
        if(del){
          $.post("/user",{post_type: "delete_org_skdjfgh213asRQadSKSFD3123244", org_owner_id: owner_id});
          showModal("Организация успешно удалена.\n"+owner_id);
          window.location.reload();
        }
      }
      function confirm_org(owner_id){
        var conf = confirm("Вы действительно хотите ПОДТВЕРДИТЬ организацию?\n"+owner_id);
        if(conf){
          $.post("/user",{post_type: "confirm_org_askdjfhl123123kaGFDGdfhFsdf3123", org_owner_id: owner_id});
          showModal("Организация успешно подтверждена.\n"+owner_id);
          window.location.reload();
        }
      }
    
    
        
