extends layout2
block scripts
  link(href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet")
  link(href='user_styles.css' rel='stylesheet')
  link(href='moder.css' rel='stylesheet')
  script(src="ahunter_suggest.js")
  script(src='user_js.js')
  script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js")
  script(src="https://unpkg.com/@popperjs/core@2")
block content
  #user_page(class='card card-content shadow-lg mx-auto')
    nav#nav_panel
      .nav.nav-tabs.nav-fill#nav-tab(role='tablist')
        a(class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true") Профиль
        a(class="nav-item nav-link" id="nav-balance-tab" data-toggle="tab" href="#nav-balance" role="tab" aria-controls="nav-balance" aria-selected="false") Баланс
        if (permissions=='mod')
          a(class="nav-item nav-link " id="nav-orders-tab" data-toggle="tab" href="#nav-orders" role="tab" aria-controls="nav-orders" aria-selected="false") Все заказы*
          a(class="nav-item nav-link" id="nav-mod-tab" data-toggle="tab" href="#nav-mod" role="tab" aria-controls="nav-mod" aria-selected="false") Модерация*
        else
          a(class="nav-item nav-link " id="nav-orders-tab" data-toggle="tab" href="#nav-orders" role="tab" aria-controls="nav-orders" aria-selected="false") Заказы
    .tab-content
      .tab-pane.fade.show.active#nav-profile.panel(role='tabpanel' area-labelledby='nav-profile-tab')
        #profile
          .in
            #name.in
              p Имя: 
              p #{user_name}
            #surname.in
              p Фамилия:
              p #{user_second_name}
            #third_name.in
              p Отчество:
              p #{user_third_name}
            if (type=='phys_type')
              if (permissions=='mod')
                p#type Модератор
              else
                p#type Физ. лицо
            if (type=='ur_type')
              if (permissions=='mod')
                p#type Модератор
              else
                p#type Юридическое лицо
          #phone.in
            p Телефон:
            p #{number}
          #org_info
            if (org_info==1)
              .in
                p Статус:
                p.text-info #{info.status}
            if (org_info==2)
              .in
                p Статус: 
                p.text-success #{info.status}
              .in
                p Название:
                p #{info.org_name}
              .in
                p Юридический адрес: 
                p #{info.org_address}
              - for(var i = 0;i<info.org_address_fact.length ;i++)
                .in
                  p Фактический адрес #{i+1}:
                  p #{info.org_address_fact[i]}
              .in
                p ИНН: 
                p #{info.owner_inn}
              .in
                p Ваша должность:
                p #{info.position}
              .in
                p Тип торговой точки
                p #{info.type}
              button.btn.btn-primary(data-toggle='collapse', href='#question_wrap' aria-expanded='false' aria-controls='question_wrap') Запрос к Орими
              a.btn.btn-info#ready_doc(href='docs/dogovor_p.doc' target='_blank') Договор поставки
              #question_wrap.collapse
                #question
                  .in.select_question
                    i.far.fa-question-circle.i(data-toggle='tooltip' data-placement='bottom' title="Вы можете выбрать тип запроса в поле выбора ниже или написать вопрос самостоятельно")
                    select(name='request' placeholder='Выберите тип запроса')
                      option(selected disabled) Выберите тип запроса
                      option(value='oborud') Заказ фирменного оборудования
                      option(value='visit') Запрос визита торгового представителя
                      option(value='docs') Запрос документов
                      option(value='other') Другое (укажите самостоятельно)
                  textarea
                  button.btn.btn-success Отправить запрос
                script.
                  $('select[name="request"]').on('change', function(){
                    var value = $(this).val();
                    var textarea = $('textarea');
                    switch(value){
                      case 'oborud':
                        textarea.val('В наше заведение требуется ваше фирменное оборудование');
                      break;
                      case 'visit':
                        textarea.val('Нам требуется визит Вашего торгового представителя');
                      break;
                      case 'docs':
                        textarea.val('Нам необходимы документы: (*укажите какие*)');
                      break;
                      case 'other':
                        textarea.val('');
                      break;
                    }
                  });
                  $('#question button').on('click', function(e){
                    $.ajax({
                      type:"POST",
                      url:"/user",
                      data: {
                        post_type: 'request',
                        request: $('textarea').val(),
                      },
                      success: function(res) {
                        if(res.ok)
                          showModal('ok');
                        else 
                          alert('bad');
                      }
                    })
                  });
            if (org_info==0 && type=='ur_type')
              a(data-toggle='collapse' href='#org_confirm' aria-expanded="false" aria-controls="org_confirm").p-danger Вы не закончили регистрацию!
              #org_confirm.collapse
                form(method='POST' enctype='multipart/form-data')#org_form
                  input(type='text' name='org_name' required placeholder='Название организации' id='org_name' )
                  input(type='text' name='org_address_ur' required placeholder='Юридический адрес' id='org_address_ur')
                  .in.add_addres_wrap
                    input(type='text' name='org_address_fact[]' required placeholder='Фактический адрес организации' class='org_address_fact js-AddressField' data-addres-id='1')
                    i.fas.fa-plus.add__addres.btn
                  input(type='text' name='inn' required placeholder='ИНН' pattern='[0-9]{10,}' id='inn')
                  select(name='position' placeholder='Должность' required)
                    option(value="" selected disabled) Должность
                    option(value="Владелец") Владелец
                    option(value="Директор") Директор
                    option(value="Менеджер") Менеджер
                  select(name='type' placeholder='Тип организации' required class='type_of_org')
                    option(value="" selected disabled) Тип организации
                    option(value="Продуктовый магазин") Продуктовый магазин
                    option(value="Кафе") Кафе
                    option(value="Офис") Офис
                    option(value="Другое" data-release='true') Другое
                  .in.promo_wrap
                    label.text__promo Промокод Торгового представителя
                    input(type='text' name='promo' class='promokod')
                  input(type='file' name='docs' id='docs' multiple data-multiple-caption='{count} файлов выбрано' required)
                  label.btn.btn-outline-info(type='button' id='redact' for='docs' data-toggle='tooltip' data-placement="top" title="ИНН, св-во о регистрации, договор аренды помещения или владения")
                    span Загрузить фото документов
                  .in#dog
                    input(type='checkbox' required)
                    label Согласен с 
                      a(href='docs/dogovor.doc' target='_blank') Договором Поставки 
                  input.btn.btn-outline-success(type='submit' value='Создать заявку')
      .tab-pane.fade#nav-orders.panel(role='tabpanel' area-labelledby='nav-orders-tab')
        .spinner-border(role='status')
          span.sr-only Loading...
        #deals.d-none
          if (deals == 0)
            if(permissions=='mod')
              a(href='/deals') Все сделки
            else
              p.title У вас нет совершенных сделок!
          else
            if(permissions=='mod')
              a(href='/deals') Все сделки
            else
              p.title Ваши сделки (#{deals.length} шт.)
              -for (var i=0; i<deals.length; i++)
                a(href='#').title № #{deals[i].id}
                .deal_wrap
                  -var final_sum = Number(0)
                  -for (var x=0; x<deals[i].length; x++)
                    - final_sum = Math.round((Number(deals[i][x].split(':')[6]))*100)/100;
                    .in.deal
                      if(deals[i][x].split(':')[7]!=0)
                        img(src="/store_prods/"+deals[i][x].split(':')[7]+"/"+deals[i][x].split(':')[3]+"/"+deals[i][x].split(':')[2]+"/1.jpg")
                      else
                        img(src="/store_prods/"+deals[i][x].split(':')[4]+"/"+deals[i][x].split(':')[3]+"/"+deals[i][x].split(':')[2]+"/1.jpg")
                      a(href='#') #{deals[i][x].split(':')[0]} #{deals[i][x].split(':')[1] } шт. -  (#{deals[i][x].split(':')[8]}р.)
                  p Итоговая стоимость: #{final_sum}
                  
      .tab-pane.fade#nav-balance.panel(role='tabpanel' area-labelledby='nav-balance-tab')
        #balance_wrap
          .in
            p Ваш бонусный баланс: 
            p #{balance} &#8194;
            span.text-muted (10 бонусов = 1 рубль)
          .sales__block
            h4.sales__block__header.header Участие в акциях
          if (type=='ur_type' && org_info==2)
            #link_code_wrap Код для продавцов
              .in
                input(type="text" id="link_code" value=""+info.link_code+"" )
                button.btn.btn-primary(onclick="copylinkcode()") Копировать
            if info.access
              .sale__item
                h5.item__header.header Продержи получи
                a(href='/sales/weekly' target='_blank').item__info Подробнее об акции
                .weekly_sale_wrap
                  .weekly_statuses
                    h6.header.start_header Участие
                    span.status Кейс 1:
                      span.status_text нет информации
                    span.status Кейс 2:
                      span.status_text нет информации
                    span.status Кейс 3:
                      span.status_text нет информации
                  .start_weekly
                    h6.header.start_header Выберите кейс
                    .radio_weekly
                      .radio_set
                        label.radio_label Кейс 1
                        input(type='radio' name='cases' value='case1').radio_input
                      .radio_set
                        label.radio_label Кейс 2
                        input(type='radio' name='cases' value='case2').radio_input
                      .radio_set
                        label.radio_label Кейс 3
                        input(type='radio' name='cases' value='case3').radio_input
                    input(type='file' name='photo' id='photo' multiple data-multiple-caption='{count} файлов выбрано' required)
                    label.btn.btn-outline-info.label_photo(type='button' id='photo_label' for='photo')
                      span Прикрепить фото
                    button.btn.btn-success.photo_submit Отправить
            .sale__item
              h5.item__header.header Кофемашина BORK
              a(href='/sales/capsule' target='_blank').item__info Подробнее об акции
              .wrap
                span.capsule_status Приобретите продукции еще на
                  span.capsule_min_amount 3000
                  span р.
          if (type=='phys_type')
            if (!link_code)
              a#code_link(data-toggle='collapse' href='#code' aria-expanded='false' aria-controls='code').btn.btn-info Участие в акции для продавцов
              #code.collapse.in
                p Введите код организации:
                input#code_input(type='text' required)
                button.btn.btn-success#code_btn Подтвердить
            else if (link_code)
              .in
                p.text-success Вы участвуете в акции для продавцов!
                a.text-info(href='/sales/') Подробнее об акции
              .in
                p Ваш код:
                p #{link_code}
              .in
                p Организация: 
                p #{attached_org.org_name}
              .in
                button.btn.btn-danger#leave_org Покинуть организацию
      if (permissions=='mod')
        .tab-pane.fade#nav-mod.panel(role='tabpanel' area-labelledby='nav-mod-tab')
          nav.mod__nav
            .nav.nav-pills.nav-fill#nav-mod(role='tablist')
              a.nav-item.nav-link.active#nav-mod-products-tab(aria-selected='true' aria-controls='nav-mod-products' role='tab' data-toggle="pill" href='#nav-mod-products') ТОВАРЫ
              a.nav-item.nav-link#nav-mod-firms-tab(aria-selected='false' aria-controls='nav-mod-firms' role='tab' data-toggle="pill" href='#nav-mod-firms') ФИРМЫ
              a.nav-item.nav-link#nav-mod-firms-request(aria-selected='false' aria-controls='nav-mod-request' role='tab' data-toggle="pill" href='#nav-mod-request') ЗАПРОСЫ              
          .tab-content.mod__content
            .tab-pane.fade.show.active#nav-mod-products(role='tabpanel' aria-labelledby='nav-mod-products').mod__content__item
              .mod__content_products
                a.btn.btn-info.content__products_link(href='#create_product' data-toggle='collapse' aria-expanded='false' aria-controls='create_product') Создать товар
                a.btn.btn-info.content__products_link(href='#edit_product' data-toggle='collapse' aria-expanded='false' aria-controls='edit_product') Редактировать товар
                a.btn.btn-info.content__products_link(href='#delete_product' data-toggle='collapse' aria-expanded='false' aria-controls='delete_product') Удалить товар
                #create_product.collapse
                  .product__create
                    select.main_select_type
                      option(selected disabled) Тип товара 
                      option(name='tea' value='tea') Чай
                      option(name='coffee' value='coffee') Кофе
                      option(value='others') Сопутствующие
                      option(value='horeca') Хорека Чай
                      option(value='horeca2') Хорека Кофе
                    .product__type.tea_type.d-none
                      form(enctype='multipart/form-data')#add_tea_form
                        .tea__form
                          .d-in
                            input(value="add_tea" name='post_type' style="visibility: hidden").form__input.form__input_item_name
                          .d-in
                            label.form__label Название
                            input(name='item_name' required).form__input.form__input_item_name
                          .d-in
                            label.form__label Цена
                            input.form__input(name='item_price' required)
                          .d-in
                            label.form__label Брэнд
                            select(name='sort' required).form__input
                              option(disabled selected value='') Выберите Брэнд
                              option(value='greenfield') Greenfield
                              option(value='tess') Tess
                              option(value='shah') Шах
                              option(value='nila') Жемчужина Нила
                              option(value='nuri') Принцесса Нури
                              option(value='java') Принцесса Ява
                              option(value='candy') Принцесса Канди
                              option(value='gita') Принцесса Гита
                          .d-in
                            label.form__label Тип чая
                            select(name='about' required).form__input
                              option(disabled selected value='') Выберите тип чая
                              option(value='black') Чёрный
                              option(value='black_1') Чёрный с добавками
                              option(value='green') Зелёный
                              option(value='green_1') Зелёный с добавками
                              option(value='herbal') Гербальный
                          .d-in
                            label.form__label Вес
                            input.form__input(name='weight' required)
                          .d-in
                            label.form__label Упаковка
                            select(name='packaging' required).form__input
                              option(disabled selected value='') Выберите упаковку
                              option(value='box') Коробка
                              option(value='package') Пакет
                              option(value='present') Подарочная упаковка
                              option(value='capsule') В капсулах
                          .d-in
                            label.form__label Кол-во пакетиков
                            input.form__input(name='tea_bags' required)
                          .d-in
                            label.form__label Кол-во в гофра-ящике
                            input.form__input(name='box_count' required)
                          .d-in
                            label.form__label Описание
                            textarea.form__input(name='description' required)
                          .d-in
                            label.form__label Артикул
                            input.form__input(name='articul' required)
                          .d-in
                            label.form__label Штрихкод
                            input.form__input(name='barcode' required)
                          .d-in
                            label.form__label Фотография
                            input(type='file' name='documents' multiple required)
                            label.form__sublabel.text-muted Изображения товара только в формате .jpg
                          button(type='submit').btn.btn-success.btn__form_add Добавить товар
                    .product__type.coffee_type.d-none
                      form(enctype='multipart/form-data')#add_coffee_form
                        .tea__form
                          .d-in
                            input(style="visibility: hidden" value="add_coffee" name='post_type').form__input.form__input_item_name
                          .d-in
                            label.form__label Название
                            input(name='item_name' required).form__input.form__input_item_name
                          .d-in
                            label.form__label Цена
                            input.form__input(name='item_price' required)
                          .d-in
                            label.form__label Брэнд
                            select(name='sort' required)
                              option(disabled selected value='') Выберите Брэнд
                              option(value='jardin') Jardin
                              option(value='jokey') Jokey
                              option(value='piazza') Piazza del Caffe
                          .d-in
                            label.form__label Категория
                            select(name='category' required)
                              option(disabled selected value='') Выберите категорию
                              option(value='milled') Молотый
                              option(value='milled_2') Молотый с ароматом
                              option(value='cereal_2') Зерновой (светлая обжарка)
                              option(value='cereal_3') Зерновой (средняя обжарка)
                              option(value='cereal_4') Зерновой (тёмная обжарка)
                              option(value='sublem') Натуральный растворимый сублимированный
                              option(value='granul') Натуральный растворимый гранулированный
                                
                          .d-in
                            label.form__label Вес
                            input.form__input(name='weight' required)
                          .d-in
                            label.form__label Упаковка
                            select(name='packaging' required)
                              option(disabled selected value='') Выберите упаковку
                              option(value='glass_jar') Стеклянная банка
                              option(value='can') Жестяная банка
                              option(value='soft_pack') Мягкая упаковка
                              option(value='capsule') В капсулах
                          .d-in
                            label.form__label Кол-во в гофра-ящике
                            input.form__input(name='box_count' required)
                          .d-in
                            label.form__label Описание
                            textarea.form__input(name='description' required)
                          .d-in
                            label.form__label Артикул
                            input.form__input(name='articul' required)
                          .d-in
                            label.form__label Штрихкод
                            input.form__input(name='barcode' required)
                          .d-in
                            label.form__label Фотография
                            input(type='file' name='documents' multiple required)
                            label.form__sublabel.text-muted Изображения товара только в формате .jpg
                          button(type='submit').btn.btn-success.btn__form_add Добавить товар
                    .product__type.others_type.d-none
                      form(enctype='multipart/form-data')#add_other_form
                        .tea__form
                          .d-in
                            input(style="visibility: hidden" value="add_other" name='post_type').form__input.form__input_item_name
                          .d-in
                            label.form__label Название
                            input(name='item_name' required).form__input.form__input_item_name
                          .d-in
                            label.form__label Цена
                            input.form__input(name='item_price' required)
                          .d-in
                            label.form__label Тип товара
                            select(name='type' required)
                              option(disabled selected value='') Выберите тип
                              option(value='sugar') Сахар
                              option(value='cups') Стаканчики
                              option(value='lid') Крышка
                          .d-in
                            label.form__label Брэнд
                            select(name='brand' required).form__input
                              option(disabled selected value='') Выберите Брэнд
                              option(value='greenfield') Greenfield
                              option(value='tess') Tess
                              option(value='shah') Шах
                              option(value='nila') Жемчужина Нила
                              option(value='nuri') Принцесса Нури
                              option(value='java') Принцесса Ява
                              option(value='candy') Принцесса Канди
                              option(value='gita') Принцесса Гита
                              option(value='jardin') Jardin
                              option(value='jokey') Jokey
                              option(value='piazza') Piazza del Caffe
                              option(value='') Без бренда
                          .d-in
                            label.form__label Кол-во в гофра-ящике
                            input.form__input(name='box_count' required)
                          .d-in
                            label.form__label Вес
                            input.form__input(name='weight' required)
                          .d-in
                            label.form__label Описание
                            textarea.form__input(name='description' required)
                          .d-in
                            label.form__label Артикул
                            input.form__input(name='articul' required)
                          .d-in
                            label.form__label Штрихкод
                            input.form__input(name='barcode' required)
                          .d-in
                            label.form__label Фотография
                            input(type='file' name='documents' multiple required)
                            label.form__sublabel.text-muted Изображения товара только в формате .jpg
                          button(type='submit').btn.btn-success.btn__form_add Добавить товар
                    .product__type.horeca_type.d-none
                      form(enctype='multipart/form-data')#add_horeca_tea_form
                        .tea__form
                          .d-in
                            input(value="add_horeca_tea" name='post_type' style="visibility: hidden").form__input.form__input_item_name
                          .d-in
                            label.form__label Название
                            input(name='item_name' required).form__input.form__input_item_name
                          .d-in
                            label.form__label Цена
                            input.form__input(name='item_price' required)
                          .d-in
                            label.form__label Брэнд
                            select(name='sort' required)
                              option(disabled selected value='') Выберите Брэнд
                              option(value='greenfield') Greenfield
                              option(value='tess') Tess
                              option(value='shah') Шах
                              option(value='nila') Жемчужина Нила
                              option(value='nuri') Принцесса Нури
                              option(value='java') Принцесса Ява
                              option(value='candy') Принцесса Канди
                              option(value='gita') Принцесса Гита
                          .d-in
                            label.form__label Тип чая
                            select(name='about' required)
                              option(disabled selected value='') Выберите тип чая
                              option(value='black') Чёрный
                              option(value='black_1') Чёрный с добавками
                              option(value='green') Зелёный
                              option(value='green_1') Зелёный с добавками
                              option(value='herbal') Гербальный
                          .d-in
                            label.form__label Вес
                            input.form__input(name='weight' required)
                          .d-in
                            label.form__label Упаковка
                            select(name='packaging' required)
                              option(disabled selected value='') Выберите упаковку
                              option(value='box') Коробка
                              option(value='package') Пакет
                              option(value='present') Подарочная упаковка шкатулка
                              option(value='capsule') В капсулах
                              option(value='soft_pack') Мягкая упаковка
                          .d-in
                            label.form__label Кол-во пакетиков
                            input.form__input(name='tea_bags' required)
                          .d-in
                            label.form__label Кол-во в гофра-ящике
                            input.form__input(name='box_count' required)
                          .d-in
                            label.form__label Описание
                            textarea.form__input(name='description' required)
                          .d-in
                            label.form__label Артикул
                            input.form__input(name='articul' required)
                          .d-in
                            label.form__label Штрихкод
                            input.form__input(name='barcode' required)
                          .d-in
                            label.form__label Фотография
                            input(type='file' name='documents' multiple required)
                            label.form__sublabel.text-muted Изображения товара только в формате .jpg
                          button(type='submit').btn.btn-success.btn__form_add Добавить товар
                    .product__type.horeca2_type.d-none
                      form(enctype='multipart/form-data')#add_horeca_coffee_form
                        .tea__form
                          .d-in
                            input(style="visibility: hidden" value="add_horeca_coffee" name='post_type').form__input.form__input_item_name
                          .d-in
                            label.form__label Название
                            input(name='item_name' required).form__input.form__input_item_name
                          .d-in
                            label.form__label Цена
                            input.form__input(name='item_price' required)
                          .d-in
                            label.form__label Брэнд
                            select(name='sort' required)
                              option(disabled selected value='') Выберите Брэнд
                              option(value='jardin') Jardin
                              option(value='jokey') Jokey
                              option(value='piazza') Piazza del Caffe
                          .d-in
                            label.form__label Категория
                            select(name='category' required)
                              option(disabled selected value='') Выберите категорию
                              option(value='milled') Молотый
                              option(value='milled_2') Молотый с ароматом
                              option(value='cereal_2') Зерновой (светлая обжарка)
                              option(value='cereal_3') Зерновой (средняя обжарка)
                              option(value='cereal_4') Зерновой (тёмная обжарка)
                          .d-in
                            label.form__label Вес
                            input.form__input(name='weight' required)
                          .d-in
                            label.form__label Упаковка
                            select(name='packaging' required)
                              option(disabled selected value='') Выберите упаковку
                              option(value='glass_jar') Стеклянная банка
                              option(value='can') Жестяная банка
                              option(value='soft_pack') Мягкая упаковка
                              option(value='capsule') В капсулах
                          .d-in
                            label.form__label Кол-во в гофра-ящике
                            input.form__input(name='box_count' required)
                          .d-in
                            label.form__label Описание
                            textarea.form__input(name='description' required)
                          .d-in
                            label.form__label Артикул
                            input.form__input(name='articul' required)
                          .d-in
                            label.form__label Штрихкод
                            input.form__input(name='barcode' required)
                          .d-in
                            label.form__label Фотография
                            input(type='file' name='documents' multiple required)
                            label.form__sublabel.text-muted Изображения товара только в формате .jpg
                          button(type='submit').btn.btn-success.btn__form_add Добавить товар
                #delete_product.collapse
                  input(type='text' placeholder='Введите артикул').articul-del
                  button.btn.btn-info.articul-delete Удалить
                #edit_product.collapse
                  input(type='text' placeholder='Введите артикул').articul
                  button.btn.btn-info.articul-find Найти
                  .found__item.d-none
                    label.item__id Id: 
                      span
                    .d-in
                      label.form__label Артикул
                      input(type='text' value='' name='articul').item__articul
                    .d-in
                      label.form__label Штрихкод
                      input(type='text' value='' name='barcode').item__barcode
                    .d-in
                      label.form__label Тип
                      input(type='text' value='' name='type').item__type
                    .d-in
                      label.form__label Подтип(ХоРеКа)
                      input(type='text' value='' name='subtype').item__subtype
                    .d-in
                      label.form__label Бренд
                      input(type='text' value='' name='sort').item__sort
                    .d-in
                      label.form__label Название
                      input(type='text' value='' name='item_name').item__name
                    .d-in
                      label.form__label Цена
                      input(type='text' name='item_price').item__price
                      label Сделать цену акционной?
                        input(type='checkbox' name='sale').item__price_sale
                    .d-in
                      label.form__label Упаковка
                      input(type='text' value='' name='packaging').item__package
                    .d-in
                      label.form__label Кол-во в гофра ящике
                      input(type='text' value='' name='box_count').item__box_count
                    .d-in
                      label.form__label Вес
                      input(type='text' value='' name='weight').item__weight
                      span г.
                    button.btn.btn-success.btn__item_edit Сохранить
                  .found__item_none.d-none
                    span.text-danger Товар не найден!
            .tab-pane.fade#nav-mod-firms(role='tabpanel' aria-labelledby='nav-mod-firms').mod__content__item
              p В списке #{uncorgs.length} фирм(а).
                -for (var u=0; u<uncorgs.length; u++)
                  p Название: #{uncorgs[u].org_name}
                  p Юридический адрес: #{uncorgs[u].org_address_ur}
                  - for(var i = 0;i<uncorgs[u].org_address_fact.length ;i++)
                    p Фактический адрес #{i+1}: #{uncorgs[u].org_address_fact[i]}
                  p ИНН: #{uncorgs[u].owner_inn}
                  p #{uncorgs[u].owner_position}: #{uncorgs[u].owner_sname} #{uncorgs[u].owner_name} #{uncorgs[u].owner_tname}
                  label Запретить участвовать в акции фото полок: &#8194;
                  input(type='checkbox' id=uncorgs[u].owner_id)
                  p Сканы документов:
                  - for(var z=0; z<uncorgs[u].docs.length; z++)
                      img(src="./uploads/"+uncorgs[u].owner_id+"/"+uncorgs[u].docs[z])
                  button(onclick="delete_org('"+uncorgs[u].owner_id+"')") Отказать
                  button(onclick="confirm_org('"+uncorgs[u].owner_id+"')") Подтвердить
            .tab-pane.fade#nav-mod-request(role='tabpanel' aria-labelledby='nav-mod-request').mod__content__item
              .request__wrap
                h4.header Запросы от фирм
                - for (var i = 0; i < requests.length; i++)
                  .requets__item
                    h5.request__headder Обращение №
                      span.request__id #{requests[i].id}
                    label.request__org_id_wrap Организация: 
                      span.request__org_id #{requests[i].org_id}
                    p.request__text Текст запроса: #{requests[i].request}
                    .request__btns
                      button.btn.btn-primary.btn__request_info Подробнее об организации
                      button.btn.btn-danger.btn__request_delete Удалить запрос
  script(src=src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript")
  if (permissions=='mod')
    script(src='moder.js')
  script.
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    $('#code_btn').on('click', function(e) {
      e.preventDefault();
      var codeinput = $('#code_input').val();
      $.ajax({
          type: "POST",
          url: "/user",
          data: {
            post_type: "add_code",
            post_data: codeinput
          },
          success: function(r){
            if(r.ok == false){
              showModal(r.error);
            }else{
              showModal(r.confirmed_code_status)
              location.href=location.href;
            }
          }
        })
    });
    $('#leave_org').on('click', function(e) {
      $.ajax({
          type: "POST",
          url: "/user",
          data: {
            post_type: "leave_org"
          },
          success: function(r){
            if(r.ok == true){
              showModal(r.res_ok);
              location.href=location.href;
            }
          }
        })
    });
    $('#org_form').on('submit', function(e) {
        e.preventDefault();
        var formData = new FormData(this);
        console.log("123");
        $.ajax({
            type: "POST",
            url: "/user",
            data: formData,
            processData: false,
            contentType: false,
            success: function(r){
              if(r.ok == false){
                console.log(r.error);
                $('#redact').find('span').html(r.error);
              }else{
                document.location.href='/user';
              }
            }
          })
      });
      function copylinkcode(){
        var copyText = document.getElementById("link_code");
        copyText.select();
        document.execCommand("copy");
      }
  if (permissions=='mod')
    script.
      function delete_org(owner_id){
        var del = confirm("Вы действительно хотите УДАЛИТЬ организацию?\n"+owner_id);
        if(del){
          $.post("/user",{post_type: "delete_org_skdjfgh213asRQadSKSFD3123244", org_owner_id: owner_id});
          showModal("Организация успешно удалена.\n"+owner_id);
          window.location.reload();
        }
      }
      function confirm_org(owner_id){
        var conf = confirm("Вы действительно хотите ПОДТВЕРДИТЬ организацию?\n"+owner_id);
        if(conf){
          var stock_access = true;
          var checkbox = $('#'+owner_id);
          if (checkbox.prop('checked')){
            stock_access = false;
          }
          $.post("/user",{post_type: "confirm_org_askdjfhl123123kaGFDGdfhFsdf3123", org_owner_id: owner_id, stock_access: stock_access});
          showModal("Организация успешно подтверждена.\n"+owner_id);
          window.location.reload();
        }
      }
    
      $('#add_tea_form, #add_coffee_form, #add_other_form, #add_horeca_tea_form, #add_horeca_coffee_form').on('submit', function(e) {
          e.preventDefault();
          var formData = new FormData(this);
          $.ajax({
              type: "POST",
              url: "/user",
              data: formData,
              processData: false,
              contentType: false,
              success: function(r){
                if(r.ok == false){
                  alert(r.error);
                }else{
                  alert("Товар успешно добавлен.");
                  window.location.reload();
                }
              }
            })
        });
    
    
        
