extends layout2

block content
  .container(class='card card-content')
    .row
      .col-sm
      form(method='POST' action='/user')
        if ((user_name==0)&&(user_second_name==0))
          p Необходимо заполнить профиль!
          input(type='text' name='name' required placeholder='Name' )
          input(type='text' name='sname' required placeholder='Second name' )
          input(type='submit' id='redact' value='Сохранить изменения' onclick="document.location.href='/user'")
        else
          p Имя: #{user_name}
          p Фамилия: #{user_second_name}
          p Телефон: #{number}
          if phone_confirmed==0
            button Подтвердить номер телефона
            input(type='text' placeholder='SMS Code')
          if (type=='phys_type')
            p Физ. лицо
            if (deals == 0)
              p
               b У вас нет совершенных сделок!
            else 
              p 
                b Ваши сделки (#{deals.length} шт.):
                -for (var i=0; i<deals.length; i++)
                  p 
                    b - Сделка #{i+1} (id: #{deals[i].id})
                  -for (var x=0; x<deals[i].length; x++)
                    p #{deals[i][x]}
          if (type=='ur_type')
            p Юр. лицо
            if (org_info==1)
              p #{info.status}
            if (org_info==2)
              p Статус: #{info.status}
              p Название: #{info.org_name}
              p Адрес: #{info.org_address}
              p ИНН: #{info.owner_inn}
              p Ваша должность: #{info.position}
            if (org_info==0)
              form(method='POST' action='/user')
                input(type='text' name='org_name' required placeholder='Название организации' )
                input(type='text' name='org_address' required placeholder='Адрес организации' )
                input(type='text' name='inn' required placeholder='ИНН' )
                select(name='position')
                  option Владелец
                  option Директор
                  option Менеджер
                  option Уборщик
                input(type='button' id='redact' value='Загрузить фото документов')
                input(type='submit' value='Создать заявку' onclick="document.location.href='/user'")
          if (deals == 0)
            p
              b У вас нет совершенных сделок!
          else 
            p 
              b Ваши сделки (#{deals.length} шт.):
              -for (var i=0; i<deals.length; i++)
                p 
                  b - Сделка #{i+1} (id: #{deals[i].id})
                  -for (var x=0; x<deals[i].length; x++)
                    p #{deals[i][x].split(':')[0]} #{deals[i][x].split(':')[1]} шт
                    img(style="weight: 250px; height: 250px;" src="/store_prods/"+deals[i][x].split(':')[4]+"/"+deals[i][x].split(':')[3]+"/"+deals[i][x].split(':')[2]+".jpg")
